{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class='row'>
        <div class='col-md-4 col-10  mx-auto'>
            <h1>Crea tu nueva contraseña</h1>
            <form method='post' action=''>{% csrf_token %}
                {{ form.as_p }}
                <span style='margin-bottom: 12px;'></span>
                <button type="submit" class='btn btn-block btn-light-orange'>Crear contraseña</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
