{% load static %}

<footer class="my-5 py-5 footer text-white bg-dark-grey">
    <div class="container">
        <div class="row">
            <div class="col s12 m3">
                <p class="text-gold">Links</p>
                <p class="my-1">Contenido de Valor</p>
                <p class="my-1">Servicios</p>
                <p class="my-1">Nosotros</p>
                <p class="my-1">Casos de Éxito</p>
                <p class="my-1">Cotiza Ahora</p>
                <p class="my-1">Partnetship</p>
                <p class="my-1">Blog</p>
            </div>
            <div class="col s12 m3">
                <p class="text-gold">Contáctanos</p>
                <p class="my-1">hola@guork.mx</p>
                <p class="my-1">55 5555 5555</p>
                <p class="my-1">Nosotros</p>
                <p class="my-1">Ignacio Allende 21-209</p>
                <p class="my-1">Miguel Hidalgo, CDMX 11289</p>
            </div>
            <div class="col s12 m3">

            </div>
            <div class="col s12 m3">
                <img src="{% static 'images/logo.png' %}" class="responsive-image mt-md-5">
            </div>
        </div>
    </div>
</footer>
