{% load static %}

{% url 'contact' as contact_url %}
{% url 'audit_lp' as audit_lp_url %}


{% url 'events' as events_url %}
{% url 'experts' as experts_url %}
{% url 'audio_visual' as audio_visual_url %}
{% url 'soluciones' as soluciones_url %}

{% url 'programas_estrategicos' as prog_estrategicos_url %}
{% url 'soporte_tactico' as soporte_tactico_url %}
{% url 'proyectos' as proyectos_url %}

{% url 'recursos' as recursos_url %}
{% url 'nosotros' as nosotros_url %}
{% url 'blog' as blog_url %}
{% url 'inbound' as inbound_url %}


<footer class=" py-5 footer text-white bg-dark-grey">
    <div class="container">
        <div class="row">
            <div class="col s6 m3">
                <p class="text-gold">Links</p>
                <!--                <p class="my-1"><a href="{{ inbound_url }}" class="text-barlow">Inbound</a></p>-->
                <!--                <p class="my-1"><a href="{{ nosotros_url }}" class="text-barlow">Nosotros</a></p>-->
                <!--                <p class="my-1"><a href="{ {audit_lp_url }}" class="text-barlow">Auditoria de Marketing</a></p>-->
                <!--                <p class="my-1"><a href="{{ events_url }}" class="text-barlow">Eventos</a></p>-->
                <!--                <p class="my-1"><a href="{{ experts_url }}" class="text-barlow">Reserva un Experto</a></p>-->
                <!--                <p class="my-1"><a href="{{ audio_visual_url }}" class="text-barlow">Audio / Visual</a></p>-->
                <p class="my-1"><a href="{{ soluciones_url }}" class="text-barlow">Soluciones</a></p>
                <p class="my-1"><a href="{{ prog_estrategicos_url }}" class="text-barlow">Programas Estrategicos</a></p>
                <p class="my-1"><a href="{{ soporte_tactico_url }}" class="text-barlow">Soporte Tactico</a></p>
                <p class="my-1"><a href="{{ proyectos_url }}" class="text-barlow">Proyectos</a></p>
                <p class="my-1"><a href="{{ blog_url }}" class="text-barlow">Blog</a></p>
                <p class="my-1"><a href="{{ contact_url }}" class="text-barlow">Contacto</a></p>

            </div>
            <div class="col s6 m3">
                <p class="text-gold">Contáctanos</p>
                <p class="my-1">hola@guork.mx</p>
                <p class="my-1">55 3188 0495</p>
                <p class="my-1">Ignacio Allende 21-209</p>
                <p class="my-1">Miguel Hidalgo, CDMX 11289</p>

                <p class="">
                    <a href="https://www.facebook.com/guork.mx/">
                        <img src="{% static 'images/facebook-gold.png' %}" style="width:2rem;" class="mx-2"/>
                    </a>
                    <a href="https://www.linkedin.com/company/25031983/">
                        <img src="{% static 'images/linkedin-gold.png' %}" style="width:2rem;" class="mx-2"/>
                    </a>
                    <a href="https://www.instagram.com/guork.mx/">
                        <img src="{% static 'images/instagram-gold.png' %}" style="width:2rem;" class="mx-2"/>
                    </a>
                    <a href="https://twitter.com/GuorkMarketing">
                        <img src="{% static 'images/twitter-gold.png' %}" style="width:2rem;" class="mx-2"/>
                    </a>

                </p>
            </div>
            <div class="col s12 m4">
                <!--                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7523.539572684311!2d-99.164819!3d19.46549!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x13f3f8e57352d2cf!2sG%C3%BCork%20Marketing%20Agency!5e0!3m2!1sen!2smx!4v1568835632978!5m2!1sen!2smx"-->
                <!--                        width="100%" height="200px" frameborder="0" style="border:0;" allowfullscreen=""></iframe>-->
            </div>
            <div class="col s12 m2 text-center">
                <img src="{% static 'images/logo.png' %}" class="responsive-img mt-md-5">
            </div>
        </div>
    </div>
</footer>
