{% load static %}

{% url 'home' as home_url %}
{% url 'inbound' as inbound_url %}
{% url 'contact' as contact_url %}
{% url 'events' as events_url %}
{% url 'blog:home' as blog_url %}


{% url 'soluciones' as soluciones_url %}
{% url 'soporte_tactico' as soporte_tactico_url %}
{% url 'programas_estrategicos' as programas_estrategicos_url %}
{% url 'proyectos' as proyectos_url %}

<nav class="navbar py-3">
    <div class="container">
        <div class="nav-wrapper black-text">
            <a href="{{ home_url }}" class="brand-logo">
                <img src="{% static 'images/logo.png' %}" class="responsive-img" width="130px">
            </a>
            <a href="#" data-target="slide-out" class="sidenav-trigger right"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a class="dropdown-trigger" href="#!" data-target="dropdownServicios">Soluciones
                    <i class="material-icons right">arrow_drop_down</i></a></li>
                <!--                <li><a href="{{ soluciones_url }}">Soluciones</a></li>-->
                <li><a href="{{ blog_url }}">Blog</a></li>
                <li><a href="{{ contact_url }}">Contacto</a></li>
                <li><a href="https://wa.me/5215531880495">55 3188 0495</a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- Dropdown Structure -->
<ul id="dropdownServicios" class="dropdown-content">

    <li><a href="{{ soporte_tactico_url }}">Soporte Táctico</a></li>
    <li><a href="{{ programas_estrategicos_url }}">Programas Estratégicos</a></li>
    <li><a href="{{ proyectos_url }}">Proyectos</a></li>
    <li class="divider"></li>
    <li><a href="{{ soluciones_url }}">Todos</a></li>
</ul>

<ul id="slide-out" class="sidenav">
    <p class="mx-5">
        <img src="{% static 'images/logo.png' %}" class="responsive-img">
    </p>

    <li><a href="{{ soluciones_url }}" class="font-200">Soluciones</a></li>
    <li><a href="{{ blog_url }}" class="font-200">Blog</a></li>
    <li><a href="{{ contact_url }}" class="font-200">Contacto</a></li>
    <li><a href="https://wa.me/5215531880495" class="font-200">55 3188 0495</a></li>
    <!--    <li>-->
    <!--        <div class="divider"></div>-->
    <!--    </li>-->

</ul>
