{% load static %}

{% url 'home' as home_url %}
{% url 'inbound' as inbound_url %}
{% url 'contact' as contact_url %}
{% url 'events' as events_url %}
{% url 'blog:home' as blog_url %}


{% url 'soluciones' as soluciones_url %}
{% url 'soporte_tactico' as soporte_tactico_url %}
{% url 'programas_estrategicos' as programas_estrategicos_url %}
{% url 'proyectos' as proyectos_url %}
{% url 'audit_pre' as audit_pre_url %}
{% url 'recursos' as recursos_url %}
{% url 'guia_marketing_digital' as guia_marketing_digital_url %}


<nav class="navbar py-3">
    <div class="container">
        <div class="nav-wrapper black-text">
            <a href="{{ home_url }}" class="brand-logo">
                <img src="{% static 'images/logo.png' %}" class="responsive-img" width="130px">
            </a>
            <a href="#" data-target="slide-out" class="sidenav-trigger right"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a class="dropdown-trigger-main" href="#!" data-target="dropdownEmpecemos">
                    EMPECEMOS <i class="material-icons right">arrow_drop_down</i>
                </a>
                </li>
                <li><a class="dropdown-trigger-main" href="#!" data-target="dropdownServicios">SOLUCIONES
                    <i class="material-icons right">arrow_drop_down</i></a></li>
                <li><a href="{{ recursos_url }}">RECURSOS</a></li>
                <!--                <li><a href="https://tienda.guork.mx/" target="_blank">PRODUCTOS</a></li>-->
                <!--                <li><a href="#">CASOS DE ÉXITO</a></li>-->
                <li><a href="{{ blog_url }}">BLOG</a></li>
                <li><a href="{{ contact_url }}">CONTACTO</a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- Dropdown Structure -->
<ul id="dropdownServicios" class="dropdown-content">
    <div class="row">
        <div class="col s12">
            <a href="{{ soluciones_url }}" class="nav-dropdown-title">
                <p class="text-center font-weight-bold mt-2 mb-4">
                    SOLUCIONES
                </p>
            </a>
        </div>
        <div class="col m4">
            <a href="{{ soporte_tactico_url }}">
                <img src="{% static 'images/soluciones/icono-apoyo-tactico.png' %}" alt="" class="w-50"/>
                <p class="m-0">Soporte Táctico</p>
                <p class="font-110 mt-2">
                    Un equipo de expertos listo para implementar iniciativas específicas bajo demanda, como
                    marketing + operaciones de ventas, integraciones de CRM, soporte creativo, desarrollo web, marketing
                    conversacional y creación de contenido.

                </p>
            </a>
        </div>
        <div class="col m4">
            <a href="{{ programas_estrategicos_url }}">
                <img src="{% static 'images/soluciones/icono-programas-estrategicos.png' %}" alt="" class="w-50"/>
                <p class="m-0">Programas Estratégicos</p>
                <p class="font-110 mt-2">
                    Un socio totalmente integrado, listo para lanzar y monitorear estrategias creativas, desde
                    Inbound Marketing hasta Marketing Basado en Cuentas, habilitación de ventas y programas de
                    atención y servicio post-venta.
                </p>
            </a>
        </div>
        <div class="col m4">
            <a href="{{ proyectos_url }}">
                <img src="{% static 'images/soluciones/icono-projectos.png' %}" alt="" class="w-50"/>
                <p class="m-0">Proyectos</p>
                <p class="font-110 mt-2">
                    Un entregable de alcance fijo, claramente definido, ya sea una auditoría o análisis de terceros,
                    un proyecto de video, diseño de sitio web, implementación de chatbot, migración de datos o una
                    aplicación web / móvil.

                </p>
            </a>
        </div>
    </div>
</ul>

<ul id="dropdownEmpecemos" class="dropdown-content">
    <li><a href="{{ guia_marketing_digital_url }}">GUÍA MARKETING DIGITAL</a></li>
    <li><a href="{{ audit_pre_url }}">AUDITORÍA DIGITAL</a></li>
    <li><a href="https://landing.guork.mx/objetivos-guork" target="_blank">CALCULADORA DE OBJETIVOS</a></li>
    <li><a href="https://landing.guork.mx/embudo-copy-39873" target="_blank">BENCHMARK</a></li>

</ul>

<ul id="slide-out" class="sidenav">
    <p class="mx-5">
        <img src="{% static 'images/logo.png' %}" class="responsive-img">
    </p>
    <li><a href="#" class="font-200">Empecemos</a></li>
    <li><a href="{{ audit_pre_url }}" class="font-175 ml-2">Auditoría Digital</a></li>
    <li><a href="https://landing.guork.mx/objetivos-guork" target="_blank" class="font-175 ml-2">Calculadora de
        objetivos</a></li>
    <li><a href="https://landing.guork.mx/embudo-copy-39873" target="_blank" class="font-175 ml-2">Benchmark</a></li>

    <li><a href="{{ soluciones_url }}" class="font-200">Soluciones</a></li>
    <li><a href="{{ soporte_tactico_url }}" class="font-175 ml-2">Soporte Táctico</a></li>
    <li><a href="{{ programas_estrategicos_url }}" class="font-175 ml-2">Programas Estratégicos</a></li>
    <li><a href="{{ proyectos_url }}" class="font-175 ml-2">Proyectos</a></li>
    <li><a href="{{ recursos_url }}" class="font-200">Recursos</a></li>
    <li><a href="{{ blog_url }}" class="font-200">Blog</a></li>
    <li><a href="{{ contact_url }}" class="font-200">Contacto</a></li>
    <li><a href="https://wa.me/5215531880495" class="font-200">55 3188 0495</a></li>
    <!--    <li>-->
    <!--        <div class="divider"></div>-->
    <!--    </li>-->

</ul>
