{% extends "base.html" %}

{% load static %}

{% block head_title %} {% endblock %}

{% block content %}

<div class="row parallax-container w-100 valign-wrapper">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h1 class="text-right text-white">Blog</h1>
            </div>
        </div>
    </div>

    <div class="parallax">
        <img src="{% static './images/blog/bg-blog.jpg' %}" alt="blog-list">
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col s12 m8 p-0">
            {% for object in object_list|slice:"0:1" %}

            <div class="col s12">

                <div class="card">
                    <div class="card-image">
                        {% if object.image %}
                        <a href="{{ object.get_absolute_url}}">
                            <img src="{{ object.image.url }}" class="responsive-img">
                        </a>
                        {% endif %}
                        <a href="{{ object.get_absolute_url}}"
                           class="btn-floating halfway-fab waves-effect waves-light bg-gold"><i
                                class="material-icons">add</i></a>
                    </div>
                    <div class="card-content text-center bg-light-grey">
                        <a href="{{ object.get_absolute_url}}">
                            <h2 class="blog-list-post-title">{{ object.title }}</h2>
                        </a>
                        <p class="gold-hr-center my-3"></p>
                        <p class="home-blog-desc">{{ object.meta_description|truncatechars:155 }}...</p>
                        <p class="text-blue pt-2 m-0 font-weight-bold">
                            {{ object.category.title }} | Lectura de {{ object.reading_time }} min
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}

            {% for object in object_list|slice:"1:3" %}
            <div class="col s12 m6">

                <div class="card">
                    <div class="card-image">
                        {% if object.image %}
                        <a href="{{ object.get_absolute_url}}"><img src="{{ object.image.url }}"></a>
                        {% endif %}
                        <a href="{{ object.get_absolute_url}}"
                           class="btn-floating halfway-fab waves-effect waves-light bg-gold"><i
                                class="material-icons">add</i></a>
                    </div>
                    <div class="card-content text-center bg-light-grey">
                        <a href="{{ object.get_absolute_url}}">
                            <h2 class="blog-list-post-title">{{ object.title }}</h2>
                        </a>
                        <p class="gold-hr-center my-3"></p>
                        <p class="home-blog-desc">{{ object.meta_description|truncatechars:155 }}...</p>
                        <p class="text-blue pt-2 m-0 font-weight-bold">
                            {{ object.category.title }} | Lectura de {{ object.reading_time }} min
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="col s12 m4">
            <p class="text-uppercase font-barlow font-weight-bold font-150">Publicaciones más populares</p>
            <p class="gold-hr"></p>
            {% for object in object_popular_list %}

            <div class="card blog-list-related-box">
                <p class="m-0"><a href="{{ object.get_absolute_url}}">{{ object.title }}</a></p>
                <p class="m-0 font-weight-bold">{{ object.category.title }} | Lectura de {{ object.reading_time }}
                    min</p>
            </div>

            {% endfor %}

            <p class="text-uppercase font-barlow font-weight-bold font-150">Publicaciones Recomendadas</p>
            <p class="gold-hr"></p>

            {% for object in object_recommended_list %}

            <div class="card blog-list-related-box">
                <p class="m-0"><a href="{{ object.get_absolute_url}}">{{ object.title }}</a></p>
                <p class="m-0 font-weight-bold">{{ object.category.title }} | Lectura de {{ object.reading_time }}
                    min</p>
            </div>

            {% endfor %}

        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        {% for object in object_list|slice:"3:" %}
        <div class="col s12 m6">

            <div class="card">
                <div class="card-image">
                    <img src="{% static 'images/blog/placeholder.jpeg' %}">
                    <a class="btn-floating halfway-fab waves-effect waves-light bg-gold"><i
                            class="material-icons">add</i></a>
                </div>
                <div class="card-content text-center bg-light-grey">
                    <h2 class="blog-list-post-title">{{ object.title }}</h2>
                    <p class="gold-hr-center my-3"></p>
                    <p class="home-blog-desc">{{ object.meta_description|truncatechars:155 }}...</p>
                    <p class="text-blue pt-2 m-0 font-weight-bold">
                        {{ object.category.title }} | Lectura de {{ object.reading_time }} min
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="container">
    <div class="row">

        <div class="col s12 text-center">
            <ul class="pagination">
                {% if object_list.has_previous %}
                <li class="disabled">
                    <a href="?{{ page_request_var }}={{ object_list.previous_page_number }}">
                        <i class="material-icons">chevron_left</i>
                    </a>
                </li>
                {% endif %}

                <li class="waves-effect">
                    Pagina {{ object_list.number }} de {{ object_list.paginator.num_pages }}.
                </li>
                {% if object_list.has_next %}
                <li class="waves-effect">
                    <a href="?{{ page_request_var }}={{ object_list.next_page_number }}">
                        <i class="material-icons">chevron_right</i>
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>

    </div>
</div>
{% endblock %}