{% extends "base.html" %}

{% load static %}

{% block head_title %} {% endblock %}

{% block content %}

{% url 'guia_marketing_digital_1' as guia_marketing_digital_1_url %}
{% url 'guia_marketing_digital:home' as guia_marketing_digital_url %}

<div class="container-fluid">
    <div class="row">
        <div class="col s12 p-0">
            <img src="{% static 'images/guia-marketing/banner.jpg'%}" width="100%">
        </div>
    </div>
</div>

<div class="container-fluid" id="guia-marketing-container">
    <div class="row">
        <div class="col s12 m3">
            <div class="collection font-125 text-grey">
                <a
                        href="{{ guia_marketing_digital_url }}"
                        class="collection-item text-gold">
                    La Guía Definitiva del Marketing Digital
                </a>
                {% for capitulo in capitulos %}
                <a
                        href="{{ capitulo.get_absolute_url }}"
                        class="collection-item text-grey">
                    {{ capitulo.title }}
                </a>
                {% endfor %}
            </div>

        </div>
        <div class="col s12 m6 px-5 pt-2 pb-5 guia-marketing-content">
            <h4 class="text-center">GUORK PRESENTA</h4>
            <p class="gold-hr-center"></p>
            <h1 class="text-center">La guía definitiva del Marketing Digital</h1>

            <p class="font-200 text-center">
                El recurso perfecto para marketeros digitales con todo tipo de experiencia, que buscan aprender nuevas
                habilidades o afinar las que ya tienen.</p>

            <p class="text-center">
                <i>La Guía Definitiva del Marketing Digital</i> está llena de insights y estrategias para empresarios,
                profesionistas del marketing, estudiantes y cualquier persona que esté buscando pulir sus habilidades y
                ponerse al corriente con lo último del marketing digital.</p>

            <p class="text-center">
                Léela para construir o refinar tu Plan de Marketing Digital sin errores.</p>
            <p class="gold-hr-center"></p>


            <h2>¿Qué es el Marketing Digital?</h2>

            <p>El Marketing Digital es el acto de promover o vender productos y servicios usando tácticas de digitales,
                tales como las redes sociales, el email marketing y la publicidad pagada.</p>

            <p>Cuando lo resumes, el Marketing Digital es lo mismo que el marketing tradicional.</p>

            <p>Es la manera en la que las empresas presentan su mensaje a sus principales prospectos y clientes.</p>

            <p>La regla #1 del marketing, es hacer la oferta correcta, en el momento correcto y en el lugar correcto.
                Hoy
                en día, tus clientes pasan su tiempo en internet: explorando sus redes sociales, manteniéndose al
                día,
                leyendo blogs y consumiendo productos y servicios digitales en cuanto surge la necesidad.</p>

            <p>El Marketing Digital te pone en esos canales, para que tus prospectos te puedan ver, te conozcan, e
                incluso
                te pregunten sobre tu empresa o tus productos y servicios.</p>

            <p>Si estas iniciando en el mundo del Marketing Digital, puede que te sientas como en un laberinto;
                escuchando
                tantas tácticas y herramientas que se usan habitualmente.</p>

            <p>Creéme, te entendemos...</p>

            <p>Pero es importante que domines todos estos recursos y tácticas para crear la base de tu negocio: atraer
                clientes, cultivar relaciones y hacer ofertas que abran diálogos.</p>

            <p>Veamos más a detalle cómo sucede esto.</p>

            <h2>¿Cómo funciona el Marketing Digital?</h2>

            <p>En muchos sentidos, el Marketing Digital es muy similar al marketing tradicional. En ambas, las
                organizaciones más inteligentes buscan crear y mantener relaciones que benefician mutuamente a la
                organización, a los prospectos y a los clientes.</p>

            <p>Sin embargo, el Marketing Digital ha reemplazado la mayoría de las tácticas del marketing tradicional,
                ya
                que su objetivo es alcanzar al consumidor moderno.</p>

            <p>Para poner un ejemplo:</p>

            <p>Piensa en la última compra importante que hayas hecho. Posiblemente compraste una casa, o contrataste a
                alguien que arreglara tu casa, decidiste cambiar tu guardaropa o cambiaste de proveedor en tu
                oficina.</p>

            <p>Sin importar que haya sido, tu primer paso probablemente fue una búsqueda en internet para investigar
                cuáles eran las soluciones disponibles, quién era el mejor proveedor y cuál era la mejor opción.
                Finalmente, tu decisión fue tomada con base a los comentarios que leiste, las opiniones de tus amigos y
                familiares y los precios que investigaste.</p>

            <p>La mayoría de las decisiones de compras hoy en día empiezan en línea.</p>

            <p>Siendo este el caso, tener una presencia en línea es absolutamente necesario, sin importar lo que
                vendas.</p>

            <p>La clave es crear una estrategia de Marketing Digital que te ponga en todos los canales que tus
                seguidores
                frecuentan, y luego conectar con ellos de diversas formas, usando una variedad de tácticas:</p>

            <p>... Contenido para mantenerlo actualizado con lo último en la industria, los principales retos de la
                industria
                y como solucionarlos…</p>

            <p>... Redes Sociales para compartir el contenido e interactuar con ellos como sus amigos y seguidores…</p>

            <p>... Search Engine Optimization (optimización de buscadores, o por sus siglas en inglés SEO) para
                optimizar
                tu contenido, y que aparezca cuando alguien busca la información que publicaste....</p>

            <p>... Publicidad que busca llevar el tráfico pagado a tu sitio web, donde se puedan ver tus ofertas...</p>

            <p>... Agregar email marketing, para dar seguimiento a tu público y asegurarte que sigan encontrando las
                soluciones que estén buscando...</p>

            <p>Cuando juntas todos estos elementos, el resultado será una sistema de Marketing Digital eficiente que es
                fácil de operar. Puede que parezca intimidante construir esa máquina partiendo de cero, pero todo se
                basa
                en aprender y luego implementar una táctica a la vez.</p>

            <p>Hemos creado esta guía, para ayudarte a construir o refinar tu propio Plan de Marketing Digital sin
                errores
                al tiempo que te ahorramos tiempo mostrandote lo que ha funcionado para nuestros clientes en los últimos
                6
                años.</p>

            <h2>¿Cuáles son los beneficios del Marketing Digital?</h2>

            </p>Una fuerte presencia digital te puede ayudar de distintas formas:</p>

            <ul>
                <li>Facilitará la creación de conciencia e interacción, antes y después de la venta.</li>
                <li>Ayudará a convertir a prospectos, en clientes apasionados que compran más, y con más
                    frecuencia.
                </li>
                <li>Impulsará el boca a boca con todos los beneficios que esto trae.</li>
                <li>Acortará el “Viaje del Consumidor” o “Customer Journey”, presentando las ofertas correctas en el
                    momento indicado.
                </li>
            </ul>

            <h2>Aprende las estrategias que generan resultados reales</h2>

            <p>Sé consciente de que el Marketing Digital está en constante actualización. Gurús, bloggers y podcasts
                declaran una herramienta o táctica nueva cada semana.</p>

            <p>La verdad, es que el Marketing Digital tiene menos que ver con “lo digital” y más que ver con el
                “marketing”, mayormente porque el Marketing Digital ya maduró. Sus fundamentos ya fueron establecidos.

            <p>En Güork Marketing Agency, nuestro objetivo es eliminar la confusión y dejar claro que tácticas
                funcionan
                y cuáles no, además de explicar cómo las puedes usar para hacer crecer tu negocio. Estamos firmemente
                en
                contra de los “gurús” que promueven el siguiente “objeto brillante” o “atajo” que eliminará el uso del
                email marketing, la publicidad, etc.

            <p>Aquí, creemos en los fundamentos.

                En esta guía verás 8 disciplinas fundamentales del Marketing Digital todas ellas críticas para el
                crecimiento de tu negocio hoy, mañana y en el futuro. Cada una de estas disciplinas serán desglosadas
                a
            <p>profundidad en los capítulos de “La Guía Definitiva Del Marketing Digital”.


            <h2>La Guía Definitiva Del Marketing Digital</h2>

            <p>El Marketing Digital no es mágia y tampoco tienes que ser un genio de la computadora para sacarle
                provecho.
                Si ofreces un producto o un servicio que el mercado desea, puedes promoverlo de manera efectiva en los
                canales digitales con las estrategias que se enseñan en esta guía.</p>

            <p>La Guía Definitiva del Marketing Digital cubre las disciplinas fundamentales tales como el Content
                Marketing, el Social Marketing e Email Marketing, siempre tomando en cuenta las metas que le importan a
                tu
                negocio.</p>

            <p>Estas metas incluyen la adquisición de nuevos prospectos y clientes, monetizar a los prospectos y
                clientes
                ya alcanzados, y finalmente crear comunidades de promotores y defensores de la marca.</p>

            <h2>Lo que aprenderás</h2>

            <p>En cada capítulo vamos a cubrir 4 aspectos generales:</p>

            <p>Métodología: Conocerás las estrategias y procesos que usamos en Güork Marketing Agency para crear y
                ejecutar un Plan de Marketing Digital en tu negocio. Esto será la mayoría del contenido ya que en el
                marketing digital, la ejecución de la estrategia es la clave.</p>

            <p>Lenguaje: Te presentamos la terminología que usan los expertos, para que puedas comunicarte de manera
                inteligente (aunque no te consideres un experto).</p>

            <p>Métricas: Los números y estadísticas que querrás vigilar para medir tu éxito e identificar las áreas
                que
                necesitan retocarse (o explotarse).</p>

            <p>Roles: Las personas dentro de tu empresa quienes probablemente tendrán la responsabilidad de planear y
                ejecutar cada táctica del marketing digital.</p>

            <p>Hemos creado esta guía de manera que pueda seguir una progresión lógica. Aunque, también es posible
                saltar de táctica en táctica en el orden que mejor te parezca; recomendamos que leas los capítulos en
                orden.</p>

            <p>Tómate tu tiempo. Lee y estudia un capítulo a la vez. Aplica lo que aprendas, y cuando sientas que lo
                tienes bajo control, empieza el siguiente capítulo.</p>

            <p>Te sorprenderá lo rápido que puedes implementar estas tácticas de Marketing Digital si te enfocas en
                ellas
                una a la vez. Cuando finalmente tengas todo operando, podrás enfocarte en la optimización y en mejorar
                tu
                proceso para maximizar el crecimiento.</p>

            <p>¿Empezamos?</p>


            <div class="owl-carousel" id="guia-marketing-owl-carousel">

                <img src="{% static 'images/guia-marketing/carrusel-1.jpg' %}" class=""/>

                <img src="{% static 'images/guia-marketing/carrusel-2.jpg' %}" class=""/>

                <img src="{% static 'images/guia-marketing/carrusel-3.jpg' %}" class=""/>

                <img src="{% static 'images/guia-marketing/carrusel-4.jpg' %}" class=""/>

                <img src="{% static 'images/guia-marketing/carrusel-5.jpg' %}" class=""/>

                <img src="{% static 'images/guia-marketing/carrusel-6.jpg' %}" class=""/>
            </div>


            <div class="row">
                <div class="col s12 m2">
                    <h2 class="font-150">Capítulo 01</h2>
                </div>
                <div class="col s12 m10">
                    <h3 class="font-150 font-weight-bold">Desarrolla tu Estrategia de Marketing Digital</h3>
                    <p>El Customer Value Journey es la base estratégica de todo lo que hacemos aquí en Güork Marketing
                        Agency.</p>
                    <p>Es la plantilla maestra sobre la que se construyen todas las demás disciplinas y tácticas de
                        marketing
                        digital.</p>
                    <p>El Customer Value Journey te ayuda a automatizar todo el proceso de adquisición de clientes, para
                        que puedas vender sin vender abiertamente y promocionar tu producto o servicio sin ser agresivo
                        o espeluznante.
                    </p>
                    <p>La clave es un "embudo de conversión", una campaña multimodal que conduce a un cliente potencial
                        de
                        manera
                        transparente y sutil a la acción deseada ...</p>

                    <p>Y lo hace de una manera que genera confianza y lealtad del cliente.</p>

                    <p>Conoce las 8 etapas y cómo las utilizarás para crear una estrategia ganadora para tu negocio.</p>
                </div>
            </div>

            <div class="row">
                <div class="col s12 m2">
                    <h2 class="font-150">Capítulo 02</h2>
                </div>
                <div class="col s12 m10">

                    <h3 class="font-150 font-weight-bold">
                        Desarrollando una Estrategia de Marketing de Contenido</h3>

                    <p>Si se hace correctamente, tu Marketing de Contenido no solo atraerá prospectos, sino que también
                        los
                        moverá
                        a través de un embudo para generar más ventas y hacer crecer tu negocio.</p>

                    <p>Lo hace llevando el Marketing de Contenidos fuera de tu blog ...</p>

                    <p>¿A qué nos referimos con eso? Simplemente, el marketing de contenidos no puede su limitarse solo
                        a los
                        blogs. Es mucho más que un blog.</p>

                    <p>Verás, el Marketing de Contenido es una táctica de embudo completo, lo que significa que debe
                        ofrecer
                        contenido valioso en cada etapa del Customer Value Journey.</p>

                    <p>Para mover a su cliente potencial a través del Customer Value Journey, deberás crear contenido
                        que
                        satisfaga
                        sus necesidades en cada una de las 3 etapas del embudo de conversión: conocimiento, evaluación y
                        conversión.</p>

                    <p>Aprenderás todo al respecto, incluido cómo planificar tu estrategia de Marketing de Contenido y
                        cómo
                        crear
                        contenido "perfecto", aquí.</p>
                </div>
            </div>


            <div class="row">
                <div class="col s12 m2">
                    <h2 class="font-150">Capítulo 03</h2>
                </div>
                <div class="col s12 m10">

                    <h3 class="font-150 font-weight-bold">
                        Elaboración de un Plan de Publicidad Digital
                    </h3>

                    <p>El secreto para tener Marketing Digital poderoso es el tráfico. Si puede dominar la
                        adquisición de
                        tráfico,
                        tendrás una base sólida para aumentar las ventas de tu negocio.</p>

                    <p>Sin embargo, ten en cuenta que la publicidad digital es más que lanzar un anuncio y esperar
                        resultados.
                        (Bueno, supongo que se puede ... pero esa no es la estrategia de tráfico pagado más eficaz
                        ...) Hay que
                        tener un plan y saber cómo separar a los ganadores de los perdedores. (Sí, ¡algunas de
                        nuestras campañas
                        publicitarias también fracasan!)</p>

                    <p>Contamos con 7 tipos de anuncios que generan ...</p>

                    <p>Ventas (por una suma de 3,858% de ROI positivo)</p>
                    <p>Clientes potenciales (hemos generado hasta 72,033 clientes potenciales de una campaña)</p>
                    <p>Audiencias de retargeting (casi tan bueno como una lista de correo electrónico, querrá saber
                        cómo crear
                        listas de retargeting)</p>

                    <p>Aquí, aprenderás los secretos para elaborar un Plan de Publicidad Digital que realmente
                        funcione.</p>

                </div>
            </div>


            <div class="row">
                <div class="col s12 m2">
                    <h2 class="font-150">Capítulo 04</h2>
                </div>
                <div class="col s12 m10">

                    <h3 class="font-150 font-weight-bold">Desarrolla una Estrategia de Redes Sociales</h3>

                    <p>"Socializar" no se trata simplemente de estar activo en Facebook y Twitter. Se trata de estar
                        presente
                        en
                        los lugares donde pasa el rato tu audiencia, para que puedas interactuar con ellos,
                        construir relaciones
                        y
                        hacer ofertas que a tus seguidores les atraigan.</p>

                    <p>Es importante estar en Redes Sociales, el 79% de los usuarios de Internet en México están en
                        Facebook y
                        más
                        de la mitad se mantienen al día con las noticias a través de las redes sociales.</p>

                    <p>Pero el Marketing de Redes Sociales es más que solo estar en ellas. Tu objetivo final no es
                        más "Me
                        gusta".
                        Son más VENTAS. Es por lo que hemos dividido el Marketing de Redes Sociales en 4 etapas.</p>

                    <p>Conoce el ciclo de éxito social y cómo puedes usarlo para atraer a tus fans y seguidores,
                        involucrarlos
                        e
                        incluso venderles a través de las redes sociales.</p>


                </div>
            </div>


            <div class="row">
                <div class="col s12 m2">
                    <h2 class="font-150">Capítulo 05</h2>
                </div>
                <div class="col s12 m10">

                    <h3 class="font-150 font-weight-bold">Seguir las mejores prácticas de Marketing por correo
                        electrónico</h3>

                    <p>Olvídate de los rumores que dicen lo contrario. El correo electrónico está vivo y coleando, y
                        si sabes
                        cómo
                        usarlo, te ayudará a hacer crecer tu negocio de manera exponencial.</p>

                    <p>De hecho, un estudio de Güork Marketing Agency y Hubspot Latinoamérica encontró que el correo
                        electrónico
                        tenía un ROI promedio de 122%. ¡Eso es 4 veces más alto que cualquier otro canal de
                        marketing! La clave
                        para
                        generar ese ROI, por supuesto, es dominar las bases. Cosas como...</p>

                    <p>Asegúrate de que tus correos electrónicos lleguen a la bandeja de entrada de tu cliente
                        potencial</p>
                    <p>Abre tu correo electrónico</p>
                    <p>Genera interacción, para que tu cliente potencial realice la acción que solicitas</p>
                    <p>Automatiza todo el proceso</p>

                    <p>Conoce el papel del correo electrónico en un negocio en crecimiento y cómo puedes usarlo para
                        mover
                        rápidamente a los prospectos y clientes a través del Customer Value Journey.</p>

                </div>
            </div>


            <div class="row">
                <div class="col s12 m2">
                    <h2 class="font-150">Capítulo 06</h2>
                </div>
                <div class="col s12 m10">

                    <h3 class="font-150 font-weight-bold">Diseña tu Estrategia para Motores De Búsqueda</h3>

                    <p>El marketing en Motores de Búsqueda ha cambiado radicalmente en los últimos años. ¡Pero lo
                        vemos como
                        una
                        buena noticia! Hoy en día, la optimización de motores de búsqueda (SEO) puede aumentar el
                        tráfico de su
                        sitio web y la confianza de los visitantes al mismo tiempo que fortalece tus otras tácticas
                        de Marketing
                        Digital.</p>

                    <p>Cada año (a veces, cada pocos meses), Google lanza otra actualización de algoritmo. Los
                        especialistas en
                        marketing de búsqueda que están "jugando con el sistema" a menudo se ven afectados y pierden
                        las
                        clasificaciones que han logrado.</p>

                    <p>Pero los especialistas en marketing de búsqueda que utilizan tácticas éticas y estudian el
                        algoritmo
                        obtienen buenos resultados. Porque primero están optimizando su sitio web para sus usuarios,
                        que es lo
                        que
                        realmente les importa a los motores de búsqueda.</p>

                    <p>Si desea competir en los canales de búsqueda y atraer tráfico orgánico gratuito a tu sitio
                        web, este
                        capítulo es para ti. Aprenda la forma correcta de hacer SEO aquí.</p>

                </div>
            </div>


            <div class="row">
                <div class="col s12 m2">
                    <h2 class="font-150">Capítulo 07</h2>
                </div>
                <div class="col s12 m10">

                    <h3 class="font-150 font-weight-bold">Utiliza los analíticos en tu Marketing Digital</h3>

                    <p>Si los números no son lo tuyo, no te preocupes. El análisis de datos es una herramienta
                        poderosa para
                        ayudarte a descubrir qué funciona, qué no y qué hacer a continuación.</p>

                    <p>Y la forma de empezar no tiene nada que ver con los números. Se trata simplemente de hacer
                        las preguntas
                        correctas ...</p>

                    <p>¿Qué tipos de visitantes no logran convertir?</p>
                    <p>¿Estamos produciendo contenido que nuestra audiencia quiere?</p>
                    <p>¿Qué páginas pueden generar más clientes potenciales y ventas?</p>
                    <p>Una vez que tengas las respuestas, simplemente debes seguir estos 3 principios...</p>

                    <p>Dale un trabajo a los datos</p>
                    <p>Utiliza las pruebas para convertir tus preguntas en estrategias</p>
                    <p>Para las cosas que son difíciles de medir, dales contexto</p>

                    <p>Conoce nuestro proceso para hacer un análisis y optimizar tu sitio web, un enfoque fácil de
                        entender que
                        cualquiera puede usar.</p>

                </div>
            </div>


            <div class="row">
                <div class="col s12 m2">
                    <h2 class="font-150">Capítulo 08</h2>
                </div>
                <div class="col s12 m10">

                    <h3 class="font-150 font-weight-bold">Aprovechar la optimización de la tasa de conversión para
                        impulsar el crecimiento</h3>

                    <p>La optimización de la tasa de conversión (CRO) puede parecer difícil, pero no tiene por qué
                        serlo. Es
                        una
                        metodología simple que cualquiera puede aprender para convertir el tráfico existente en
                        clientes
                        potenciales.</p>

                    <p>Para la mayoría de los especialistas en marketing, el CRO son pruebas A / B para determinar
                        el mejor
                        color
                        de botón o la mejor foto. Pero las pruebas son solo 1 de los 8 pasos del ciclo CRO.</p>

                    <p>Para ver mejoras reales en tu Marketing Digital, debes implementar todo el ciclo ...</p>

                    <p>Desarrollar un proceso probado para convertir sistemáticamente ofertas mediocres en ganadoras
                        y a los
                        clientes existentes en recompras.</p>

                    <p>Aprende todo el ciclo de CRO, y descubre esos pequeños ajustes que pueden convertir un
                        rendimiento del
                        1% en
                        rendimientos del 10%, 25% o más. Lee aquí para conocer nuestro proceso simple y repetible
                        que te ayudará
                        a
                        mejorar constantemente los resultados en tu estrategia.</p>

                </div>
            </div>


            <div class="row">
                <div class="col s12 m2">
                    <h2 class="font-150">Capítulo 09</h2>
                </div>
                <div class="col s12 m10">

                    <h3 class="font-150 font-weight-bold">¿Que sigue?</h3>
                    <p>Los fundamentos que has aprendido en La Guía Definitiva de Marketing Digital son sólidos.
                        Ahora estás en
                        camino de dominar el Marketing Digital.</p>

                    <p>Es el momento de perfeccionar tus habilidades y hacer que todos los engranajes de tu máquina
                        de
                        marketing
                        funcionen sin problemas y de manera eficiente.</p>

                    <p>Aquí está el siguiente paso ...</p>

                    <p>
                        <a href="{{ next_url }}" class="btn-large btn-gold">
                            Empieza el Capítulo
                        </a>
                    </p>


                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}