{% extends "base.html" %}

{% load static %}

{% block head_title %} {% endblock %}

{% block content %}

<div class="row bg-audit-pre">
    <div class="row">
        <div class="col s12 m6">
            <div class="p-2 ml-md-5 pl-md-5">
                <h1>How to Get the Most Out Of This Audit:</h1>
                <p>1. Answer everything honestly & humbly
                    (nobody is a Perfect 10).</p>

                <p>2. Prioritize appropriately, no job requires every marketing skill to be critical.</p>

                <p>3. Take your time. Sure this can be done in 6 minutes, but if you're following suggestions 1. and 2.
                    it will take longer
                    (but be way more useful).</p>

                <p>4. Take it again for your team
                    (or share with your team members).</p>
                <p class="">
                    <a class="btn btn-gold w-50" href="{% url 'audit' %}">EMPIEZA AHORA</a>
                </p>
            </div>
        </div>

        <div class="col s12 m5 offset-m1 p-0">
            <img src="{% static 'images/audit/audit_rocket.jpg' %}" alt="" class="responsive-img">

        </div>
    </div>

</div>
{% endblock %}