{% extends "base.html" %}

{% load static %}

{% block head_title %} {% endblock %}

{% block content %}

<div class="row bg-audit-pre">
    <div class="row">
        <div class="col s12 m6">
            <div class="p-2 ml-md-5 pl-md-5">
                <h1>Cómo aprovechar al máximo esta auditoría</h1>
                <p>1. Utiliza esta herramienta de evaluación que te ayudará a medir la madurez en los esfuerzos de SEO
                    de tu empresa a través de 4 factores clave.</p>

                <p>2. Clasifica a tu empresa en una escala del 1 al 5 según el cumplimiento de cada práctica. Utiliza de
                    referencia la escala.</p>

                <p>3. Consulta al final el "Índice de madurez" para identificar tu estado actual / objetivo en cada
                    categoría..</p>

                <p>4. Consulta al final los "Resultados y recomendaciones" para obtener consejos prácticos sobre cómo
                    mejorar el SEO de tu marca.</p>
                <p class="">
                    <a class="btn btn-gold w-50" href="{% url 'audit' %}">EMPIEZA AHORA</a>
                </p>
            </div>
        </div>

        <div class="col s12 m5 offset-m1 p-0 lh-0">
            <img src="{% static 'images/audit/audit_rocket.jpg' %}" alt="" class="responsive-img">
        </div>
    </div>

</div>
{% endblock %}