{% extends "base.html" %}

{% load static %}

{% block head_title %} {% endblock %}

{% block content %}

{% url 'inbound' as inbound_url %}
{% url 'contact' as contact_url %}

{% url 'events' as events_url %}
{% url 'experts' as experts_url %}
{% url 'audio_visual' as audio_visual_url %}


<div class="container-fluid">
    <div class="container">
        <div class="row">
        </div>
    </div>
</div>

<div class="container-fluid">

    <div class="container">

        <div class="row">
            <div class="col s12 m2 text-center">
                <p><a class="link-black-gold text-gold" href="{{ events_url }}">Eventos</a></p>
            </div>
            <div class="col s12 m2 text-center">
                <p><a class="link-black-gold" href="{{ experts_url }}">Reserva un Expero</a></p>
            </div>
            <div class="col s12 m2 text-center">
                <p><a class="link-black-gold" href="{{ audio_visual_url }}">Audio/Visual</a></p>
            </div>
        </div>

    </div>
</div>


<div class="container-fluid position-relative">
    <div class="container">
        <div class="row">
            <div class="col s12 m9">
                <div class="row">

                    <div class="col s12 m6 mt-3">
                        <img src="{% static 'images/contact/california.jpg' %}" alt="" class="responsive-img">
                        <p class="text-uppercase text-anton font-weight-bold">b2b marketing expo</p>
                        <p>Octubre 2 - 3, 2019</p>
                        <p class="text-gold text-uppercase font-italic">Los Angeles, CA</p>
                    </div>
                    <div class="col s12 m6 mt-3">
                        <img src="{% static 'images/contact/california.jpg' %}" alt="" class="responsive-img">
                        <p class="text-uppercase text-anton font-weight-bold">b2b marketing expo</p>
                        <p>Octubre 2 - 3, 2019</p>
                        <p class="text-gold text-uppercase font-italic">Los Angeles, CA</p>
                    </div>
                    <div class="col s12 m6 mt-3">
                        <img src="{% static 'images/contact/california.jpg' %}" alt="" class="responsive-img">
                        <p class="text-uppercase text-anton font-weight-bold">b2b marketing expo</p>
                        <p>Octubre 2 - 3, 2019</p>
                        <p class="text-gold text-uppercase font-italic">Los Angeles, CA</p>
                    </div>
                    <div class="col s12 m6 mt-3">
                        <img src="{% static 'images/contact/california.jpg' %}" alt="" class="responsive-img">
                        <p class="text-uppercase text-anton font-weight-bold">b2b marketing expo</p>
                        <p>Octubre 2 - 3, 2019</p>
                        <p class="text-gold text-uppercase font-italic">Los Angeles, CA</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <img src="{% static 'images/bg-splash-lines.png' %}" class="event-list-splash-lines d-none d-md-block"/>

</div>

<div class="container-fluid position-relative">
    <div class="container my-5">
        <div class="row">
            <div class="col s6 offset-s3 m4 offset-m4">
                <img src="{% static 'images/home/home-gold-plane.png' %}" class="responsive-img"/>
            </div>
            <div class="col s12">
                <p class="home-contactanos-title">CONTÁCTANOS</p>
                <p class="text-center text-uppercase text-barlow font-weight-bold font-150">
                    Da Click y dejanos tus comentarios</p>
            </div>
        </div>
        <div class="row my-2">
            <div class="col s12 m6 offset-m3">
                <a class="btn btn-gold w-100" href="{{ contact_url }}">CONTÁCTANOS</a>
            </div>
        </div>
    </div>
    <img src="{% static 'images/bg-splash-lines-2.png' %}" class="event-list-splash-lines-2 d-none d-md-block"/>

</div>


<img src="{% static 'images/bg-blue-right-simple.png' %}" class="event-list-bg-blue d-none d-md-block"/>
<img src="{% static 'images/climber.png' %}" class="event-list-climber d-none d-md-block"/>
{% endblock %}


{% block js_extra %}

{% endblock %}