{% extends "base.html" %}

{% load static %}

{% block head_title %} {% endblock %}

{% block content %}

{% url 'inbound' as inbound_url %}
{% url 'contact' as contact_url %}

{% url 'events' as events_url %}
{% url 'speakers' as speakers_url %}
{% url 'podcast' as podcast_url %}


<div class="row">
    <div class="col s12 p-0">
        <img src="{% static 'images/eventos/banner-eventos.jpg' %}"
             class="responsive-img" alt="Eventos de marketing"/>
    </div>
</div>

<section class="container">
    <div class="row mt-5">
        <div class="col s3">
            <img src="{% static 'images/eventos/icono.png' %}"
                 class="responsive-img" alt="Eventos de marketing"/>
        </div>
        <div class="col s12 m6">
            <p class="font-250">
                Conoce, aprende o especialízate en cada uno de nuestros eventos, impartidos por expertos en la materia y
                con la finalidad de ayudarle a tu empresa a crecer.
            </p>
        </div>
    </div>
</section>

<div class="section">
    <div class="row">
        <div class="col s12 m8 offset-m2">

            <div class="row mt-5">
                <div class="col s12 m4">
                    <img src="{% static 'images/eventos/1.png' %}"
                         class="responsive-img"/>
                </div>
                <div class="col m8">
                    <h2 class="mt-0"> ANTES DE INVERTIR EN MARKETING DIGITAL… ¡HAZ ESTO!HAZ ESTO!</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                        aliquip
                        ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                        dolore eu
                        fugiat nulla pariatur.
                    </p>
                    <p><a class="btn btn-gold font-200 py-3">!Quiero Asistir!</a></p>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col s12 m4">
                    <img src="{% static 'images/eventos/2.png' %}"
                         class="responsive-img"/>
                </div>
                <div class="col m8">
                    <h2 class="mt-0">LOGRA LLEGAR A MÁS CLIENTES CON MARKETING AUTOMATION</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                        aliquip
                        ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                        dolore eu
                        fugiat nulla pariatur.
                    </p>
                    <p><a class="btn btn-gold font-200 py-3">!Quiero Asistir!</a></p>
                </div>
            </div>
<div class="row mt-5">
                <div class="col s12 m4">
                    <img src="{% static 'images/eventos/1.png' %}"
                         class="responsive-img"/>
                </div>
                <div class="col m8">
                    <h2 class="mt-0"> ANTES DE INVERTIR EN MARKETING DIGITAL… ¡HAZ ESTO!HAZ ESTO!</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                        aliquip
                        ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                        dolore eu
                        fugiat nulla pariatur.
                    </p>
                    <p><a class="btn btn-gold font-200 py-3">!Quiero Asistir!</a></p>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col s12 m4">
                    <img src="{% static 'images/eventos/2.png' %}"
                         class="responsive-img"/>
                </div>
                <div class="col m8">
                    <h2 class="mt-0">LOGRA LLEGAR A MÁS CLIENTES CON MARKETING AUTOMATION</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                        aliquip
                        ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                        dolore eu
                        fugiat nulla pariatur.
                    </p>
                    <p><a class="btn btn-gold font-200 py-3">!Quiero Asistir!</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid position-relative">
    <div class="container my-5">
        <div class="row">
            <div class="col s6 offset-s3 m4 offset-m4">
                <img src="{% static 'images/home/home-gold-plane.png' %}" class="responsive-img"/>
            </div>
            <div class="col s12">
                <p class="home-contactanos-title">CONTÁCTANOS</p>
                <p class="text-center text-uppercase text-barlow font-weight-bold font-150">
                    Da Click y dejanos tus comentarios</p>
            </div>
        </div>
        <div class="row my-2">
            <div class="col s12 m6 offset-m3">
                <a class="btn btn-gold w-100" href="{{ contact_url }}">CONTÁCTANOS</a>
            </div>
        </div>
    </div>
    <img src="{% static 'images/bg-splash-lines-2.png' %}" class="event-list-splash-lines-2 d-none d-md-block"/>

</div>


<img src="{% static 'images/bg-blue-right-simple.png' %}" class="event-list-bg-blue d-none d-md-block"/>
<!--<img src="{% static 'images/climber.png' %}" class="event-list-climber d-none d-md-block"/>-->
{% endblock %}


{% block js_extra %}

{% endblock %}

<!--<div class="container-fluid">-->

<!--    <div class="container">-->

<!--        <div class="row">-->
<!--            <div class="col s12 m2 text-center">-->
<!--                <p><a class="link-black-gold text-gold" href="{{ events_url }}">Eventos</a></p>-->
<!--            </div>-->
<!--            <div class="col s12 m2 text-center">-->
<!--                <p><a class="link-black-gold" href="{{ speakers_url }}">Speakers</a></p>-->
<!--            </div>-->
<!--            <div class="col s12 m3 text-center">-->
<!--                <p><a class="link-black-gold" href="{{ podcast_url }}">Hablemos de Marketing Podcast</a></p>-->
<!--            </div>-->
<!--        </div>-->

<!--    </div>-->
<!--</div>-->


<!--<div class="container-fluid position-relative">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col s12 m9">-->
<!--                <div class="row">-->

<!--                    <div class="col s12 m6 mt-3">-->
<!--                        <img src="{% static 'images/contact/california.jpg' %}" alt="" class="responsive-img">-->
<!--                        <p class="text-uppercase text-anton font-weight-bold">b2b marketing expo</p>-->
<!--                        <p>Octubre 2 - 3, 2019</p>-->
<!--                        <p class="text-gold text-uppercase font-italic">Los Angeles, CA</p>-->
<!--                    </div>-->
<!--                    <div class="col s12 m6 mt-3">-->
<!--                        <img src="{% static 'images/contact/california.jpg' %}" alt="" class="responsive-img">-->
<!--                        <p class="text-uppercase text-anton font-weight-bold">b2b marketing expo</p>-->
<!--                        <p>Octubre 2 - 3, 2019</p>-->
<!--                        <p class="text-gold text-uppercase font-italic">Los Angeles, CA</p>-->
<!--                    </div>-->
<!--                    <div class="col s12 m6 mt-3">-->
<!--                        <img src="{% static 'images/contact/california.jpg' %}" alt="" class="responsive-img">-->
<!--                        <p class="text-uppercase text-anton font-weight-bold">b2b marketing expo</p>-->
<!--                        <p>Octubre 2 - 3, 2019</p>-->
<!--                        <p class="text-gold text-uppercase font-italic">Los Angeles, CA</p>-->
<!--                    </div>-->
<!--                    <div class="col s12 m6 mt-3">-->
<!--                        <img src="{% static 'images/contact/california.jpg' %}" alt="" class="responsive-img">-->
<!--                        <p class="text-uppercase text-anton font-weight-bold">b2b marketing expo</p>-->
<!--                        <p>Octubre 2 - 3, 2019</p>-->
<!--                        <p class="text-gold text-uppercase font-italic">Los Angeles, CA</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

<!--    <img src="{% static 'images/bg-splash-lines.png' %}" class="event-list-splash-lines d-none d-md-block"/>-->

<!--</div>-->