{% extends "base.html" %}

{% load static %}

{% block head_title %} {% endblock %}

{% block content %}

{% url 'home' as home_url %}
{% url 'inbound' as inbound_url %}
{% url 'contact' as contact_url %}
{% url 'events' as events_url %}
{% url 'blog:home' as blog_url %}


{% url 'soluciones' as soluciones_url %}
{% url 'soporte_tactico' as soporte_tactico_url %}
{% url 'programas_estrategicos' as programas_estrategicos_url %}
{% url 'proyectos' as proyectos_url %}

<!--<div class="row">-->
<!--    <div class="container m-0">-->
<!--        <div class="col s12 m-0 p-0">-->
<!--            <img src="{% static 'images/bg-blue-left.gif' %}" class="responsive-img"/>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<div class="row">
    <div class="container">
        <div class="row">
            <div class="col s12 m6 offset-m6 my-md-5 pt-md-5">
                <p class="text-md-right text-uppercase font-150 mb-0 mt-md-5 text-darkgold font-weight-bold">
                    HEMOS IMPULSADO EL CRECIMIENTO DE CLIENTES DURANTE UNA DÉCADA
                </p>
                <p class="text-md-right mb-3 mt-2 home-title font-450 text-uppercase font-barlow font-weight-bold">
                    Por favor, prepárate para despegar</p>
                <h1 class="text-md-right font-175 mt-0">
                    Soluciones digitales integrales y consultoría para los mayores desafíos comerciales
                </h1>
                <p class="text-md-right mt-5">
                    <a class="btn btn-lg btn-gold" href="{{ soluciones_url }}">CONOCE MÁS</a>
                    <a class="btn btn-lg btn-outline-gold mt-3 mt-md-0" href="{{ contact_url }}">HABLEMOS</a>
                </p>

            </div>
        </div>
        <img src="{% static 'images/bg-blue-left.gif' %}" class="blue-left-bg-img"/>
    </div>
</div>

<div class="row position-relative mt-5 pt-5">
    <div class="container ">
        <img src="{% static 'images/bg-blue-right.png' %}" class="blue-right-bg-img mt-5"/>
        <div class="row">
            <div class="col s12 m6 mt-lg-5 pt-lg-5">
                <h2 class="mt-md-5">PRINCIPALES SERVICIOS </h2>
                <p class="gold-hr"></p>

                <a href="https://landing.guork.mx/servicio-inbound-marketing-2020" target="_blank">
                    <div class="row mt-5">

                        <div class="col s3 home-service-col home-service-inbound-col">

                        </div>
                        <div class="col s9">
                            <h3 class="home-service-title">Inbound Marketing</h3>
                            <p class="home-service-title-description">
                                Obtén la atención de clientes potenciales calificados. Ofrece a tu cliente potencial
                                contenido útil e informativo en cada etapa del ciclo de vida del cliente.
                            </p>
                        </div>
                    </div>
                </a>

                <!--                <a href="#">-->
                <!--                    <div class="row mt-5">-->

                <!--                        <div class="col s3 home-service-col home-service-branding-col">-->

                <!--                        </div>-->
                <!--                        <div class="col s9">-->
                <!--                            <h3 class="home-service-title">Branding</h3>-->
                <!--                            <p class="home-service-title-description">-->
                <!--                                Desarrolla o relanza tu marca con un diseño-->
                <!--                                profesional, hermoso y funcional. Aclara tu mensaje y mejora posicionamiento. Atrae,-->
                <!--                                convierte y reten clientes.</p>-->
                <!--                        </div>-->
                <!--                    </div>-->
                <!--                </a>-->

                <a href="https://landing.guork.mx/lead-generation" target="_blank">
                    <div class="row mt-5">

                        <div class="col s3 home-service-col home-service-leadgen-col">

                        </div>
                        <div class="col s9">
                            <h3 class="home-service-title">Lead Generation</h3>
                            <p class="home-service-title-description">
                                Define tu target y diseña un plan de marketing que te permita generar más oportunidades
                                para tu equipo comercial aumentando el volumen de buenos prospectos.
                            </p>
                        </div>
                    </div>
                </a>

                <a href="https://landing.guork.mx/lead-managment" target="_blank">
                    <div class="row mt-5">

                        <div class="col s3 home-service-col home-service-marketingtools-col">

                        </div>
                        <div class="col s9">
                            <h3 class="home-service-title">Lead Management</h3>
                            <p class="home-service-title-description">
                                Construye un proceso de mercadotecnia, ventas y servicio integrado, capaz de transmitir
                                y probar el valor de la marca a los clientes.
                            </p>
                        </div>
                    </div>
                </a>

                <!--                <a href="#">-->
                <!--                    <div class="row mt-5">-->

                <!--                        <div class="col s3 home-service-col home-service-consult-col">-->

                <!--                        </div>-->
                <!--                        <div class="col s9">-->
                <!--                            <h3 class="home-service-title">Marcas Personales</h3>-->
                <!--                            <p class="home-service-title-description">-->
                <!--                                Muchas personas tienen talento para compartir y esto puede incluirte. La pregunta es:-->
                <!--                                ¿cómo convertir tu experiencia en un negocio rentable?-->
                <!--                            </p>-->
                <!--                        </div>-->
                <!--                    </div>-->
                <!--                </a>-->

            </div>
        </div>
    </div>
</div>

<div class="container my-md-5 py-md-5">
    <div class="row mt-5">

        <div class="col s12 m6 position-relative mt-5 text-center text-md-left">
            <!--            <img src="{% static 'images/home/guork-personas.gif' %}" class="responsive-img w-50 mt-5 ml-5"/>-->
            <img src="{% static 'images/home/guork-personas.gif' %}" class="responsive-img home-nosotros-faces "/>
        </div>

        <div class="col s12 m6">
            <!--            <h2 class="">NOSOTROS</h2>-->
            <p class="gold-hr"></p>

            <p class="font-barlow font-350 mb-0 text-uppercase font-weight-bold">Estrategia + Táctica + Ejecución</p>

            <p class="m-0 mt-4">
                Nuestro producto es nuestra gente. Contratamos expertos con perspectivas únicas y objetivos
                comunes. Somos 100% orientados a los resultados, basados en datos y nos especializamos en derribar los
                obstáculos que presentan nuestros clientes para lograr un crecimiento sostenido.
            </p>

            <p class=" mt-5">
                <a class="btn btn-lg btn-blue" href="{{ soluciones_url }}">CONOCE MÁS</a>
            </p>
        </div>
    </div>
</div>

<!--<div class="container casos-exito-home-container my-5">-->
<!--    <div class="row">-->
<!--        <div class="col s12">-->
<!--            <h2 class="text-center">CASOS DE ÉXITO</h2>-->
<!--            <p class="gold-hr-center"></p>-->
<!--        </div>-->
<!--        <div class="col s12">-->

<!--            <div class="owl-carousel" id="owl-carousel-casos-exito">-->
<!--                <div class="row">-->
<!--                    <div class="col s12 m6 text-center">-->
<!--                        <img src="{% static 'images/home/exito/ludi.jpg' %}"-->
<!--                             class="responsive-img w-50 mx-auto"/>-->
<!--                    </div>-->
<!--                    <div class="col s12 m6 text-center text-md-left">-->
<!--                        <p class="mt-md-5 font-150">-->
<!--                            “Trabajar con Güork ha sido productivo, divertido, efectivo y eficiente. Me ha-->
<!--                            impresionado mucho su capacidad para comprender nuestros productos y mercado a través de su-->
<!--                            proceso de descubrimiento y luego traducir su descubrimiento en entregas-->
<!--                            significativas.”</p>-->
<!--                        <p class="font-150 my-2">- Ludi</p>-->

<!--                        &lt;!&ndash;                        <a href="badges.html" class="btn btn-gold">VER VIDEO</a>&ndash;&gt;-->
<!--                    </div>-->

<!--                </div>-->
<!--                <div class="row">-->
<!--                    <div class="col s12 m6 text-center">-->
<!--                        <img src="{% static 'images/home/exito/gnp.jpg' %}"-->
<!--                             class="responsive-img w-50 mx-auto"/>-->
<!--                    </div>-->
<!--                    <div class="col s12 m6 text-center text-md-left">-->
<!--                        <p class="mt-md-5 font-150">-->
<!--                            “Trabajamos con Güork para actualizar nuestras páginas de productos antes de lanzar nuestra-->
<!--                            tienda en línea y, sinceramente, fueron el proveedor más fácil con el que hemos trabajado.-->
<!--                            Escucharon lo que queríamos y generaron hermosas propuestas en una semana. Son profesionales-->
<!--                            y trabajan rápido.”-->
<!--                        </p>-->
<!--                        <p class="font-150 my-2">- GNP</p>-->

<!--                        &lt;!&ndash;                        <a href="badges.html" class="btn btn-gold">VER VIDEO</a>&ndash;&gt;-->
<!--                    </div>-->

<!--                </div>-->

<!--                <div class="row">-->
<!--                    <div class="col s12 m6 text-center">-->
<!--                        <img src="{% static 'images/home/exito/aeromar.jpg' %}"-->
<!--                             class="responsive-img w-50 mx-auto"/>-->
<!--                    </div>-->
<!--                    <div class="col s12 m6 text-center text-md-left">-->
<!--                        <p class="mt-md-5 font-150">-->
<!--                            “Güork Marketing Agency hizo un trabajo excepcional ayudándonos con un cambio radical en la-->
<!--                            imagen de nuestra marca. No podríamos estar más felices. Crearon una mejor experiencia-->
<!--                            general para el usuario, optimizaron el sitio para SEO y lo hicieron visualmente atractivo.”-->
<!--                        </p>-->
<!--                        <p class="font-150 my-2">- Aeromar</p>-->

<!--                        &lt;!&ndash;                        <a href="badges.html" class="btn btn-gold">VER VIDEO</a>&ndash;&gt;-->
<!--                    </div>-->

<!--                </div>-->

<!--                <div class="row">-->
<!--                    <div class="col s12 m6 text-center">-->
<!--                        <img src="{% static 'images/home/exito/lapi.jpg' %}"-->
<!--                             class="responsive-img w-50 mx-auto"/>-->
<!--                    </div>-->
<!--                    <div class="col s12 m6 text-center text-md-left">-->
<!--                        <p class="mt-md-5 font-150">-->
<!--                            “Mi equipo y yo comenzamos a trabajar con Güork hace poco menos de un año cuando lanzamos-->
<!--                            nuestra nueva marca. Han sido fundamentales para su éxito, especialmente con tantos-->
<!--                            recursos. Nuestro ejecutivo de proyecto es el MEJOR se aseguró en todo momento de que-->
<!--                            nuestras necesidades estuvieran atendidas. ¡La más alta recomendación!-->
<!--                        </p>-->
<!--                        <p class="font-150 my-2">- Lapi</p>-->

<!--                        &lt;!&ndash;                        <a href="badges.html" class="btn btn-gold">VER VIDEO</a>&ndash;&gt;-->
<!--                    </div>-->

<!--                </div>-->
<!--            </div>-->


<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<div class="row bg-gold py-5 position-relative cotiza-banner-container mb-5">
    <img src="{% static 'images/climber.png' %}" class="cotiza-banner-climber"/>

    <div class="container cotiza-banner-row">
        <div class="row text-md-right">
            <div class="col s12 m6">
                <h2 class="text-white">¡Cotiza Ahora!</h2>
                <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua</p>
                <!--                <p class="text-md-right">-->
                <!--                    <a class="btn btn-outline-gold" href="#">COTIZAR</a>-->
                <!--                </p>-->
            </div>
        </div>
    </div>

</div>

<div class="my-5 py-5">
    <div class="row mt-5">
        <div class="col s12 p-0">
            <h2 class="text-center">PARTNERTSHIP</h2>
            <p class="gold-hr-center"></p>
            <div class="owl-carousel" id="owl-carousel-partnertship">

                <img src="{% static 'images/home/partners/clientify.jpg' %}" class=""/>

                <img src="{% static 'images/home/partners/digital-marketer.jpg' %}" class=""/>

                <img src="{% static 'images/home/partners/google.jpg' %}" class=""/>

                <img src="{% static 'images/home/partners/hubspot.jpg' %}" class=""/>

                <img src="{% static 'images/home/partners/instapage.jpg' %}" class=""/>

                <img src="{% static 'images/home/partners/wistia.jpg' %}" class=""/>
            </div>

        </div>
    </div>
</div>

<div class="row bg-light-grey py-5 my-5">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h2 class="text-center">NUESTRO BLOG</h2>
                <p class="gold-hr-center"></p>
            </div>
        </div>

        <div class="row">
            {% if blog_posts %}
            {% for object in blog_posts %}

            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image">
                        {% if object.image %}
                        <a href="{{ object.get_absolute_url}}">
                            <img src="{{ object.image.url }}" class="responsive-img">
                        </a>
                        {% endif %}
                        <a href="{{ object.get_absolute_url}}"
                           class="btn-floating halfway-fab waves-effect waves-light bg-gold"><i
                                class="material-icons">add</i></a>
                    </div>
                    <div class="card-content text-center bg-white">
                        <a href="{{ object.get_absolute_url}}">
                            <h2 class="home-blog-list-post-title">{{ object.title }}</h2>
                        </a>
                        <p class="gold-hr-center my-3"></p>
                        <p class="home-blog-desc">{{ object.meta_description|truncatechars:155 }}...</p>
                        <p class="text-blue pt-2 m-0 font-weight-bold">
                            {{ object.category.title }} | Lectura de {{ object.reading_time }} min
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>

        <div class="row my-5">
            <div class="col s12 m6 offset-m3">
                <a class="btn btn-gold w-100 font-150" href="#">VER MÁS</a>
            </div>
        </div>
    </div>
</div>

<div class="container my-5 py-5">
    <div class="row">
        <div class="col s12 m4 offset-m4">
            <img src="{% static 'images/home/home-gold-plane.png' %}" class="responsive-img"/>
        </div>
        <div class="col s12">
            <p class="home-contactanos-title">CONTÁCTANOS</p>
            <p class="text-center text-uppercase text-barlow font-weight-bold font-150">
                Da Click y dejanos tus comentarios</p>
        </div>
    </div>
    <div class="row my-2">
        <div class="col s12 m6 offset-m3">
            <a class="btn btn-gold w-100" href="{{ contact_url }}">CONTÁCTANOS</a>
        </div>
    </div>
</div>


{% endblock %}
