{% extends "base.html" %}

{% load static %}

{% block head_title %} {% endblock %}

{% block content %}

{% url 'inbound' as inbound_url %}
{% url 'contact' as contact_url %}

{% url 'contact' as contact_url %}
{% url 'audit_lp' as audit_lp_url %}


{% url 'events' as events_url %}
{% url 'experts' as experts_url %}
{% url 'audio_visual' as audio_visual_url %}
{% url 'soluciones' as soluciones_url %}

{% url 'programas_estrategicos' as prog_estrategicos_url %}
{% url 'soporte_tactico' as soporte_tactico_url %}
{% url 'proyectos' as proyectos_url %}

{% url 'recursos' as recursos_url %}
{% url 'nosotros' as nosotros_url %}
{% url 'blog' as blog_url %}
{% url 'inbound' as inbound_url %}

<div class="row">
    <div class="container">
        <div class="row">
            <div class="col s12 m6 offset-m6 my-md-5">
                <h1 class="text-right text-uppercase">HEMOS IMPULSADO EL CRECIMIENTO DE CLIENTES DURANTE UNA DÉCADA</h1>
                <p class="text-right">
                    Por favor, prepárate para despegar</p>
                <p class="text-right">
                    Soluciones digitales integrales y consultoría para los mayores desafíos comerciales
                </p>
                <p class="text-right">
                    <a class="btn btn-outline-gold" href="{{ soluciones_url }}">CONOCE MÁS</a>
                    <a class="btn btn-outline-gold" href="{{ contact_url }}">HABLEMOS</a>
                </p>
            </div>
        </div>
        <img src="{% static 'images/bg-blue-left.png' %}" class="blue-left-bg-img"/>
    </div>
</div>

<div class="row bg-light-grey py-3 my-3 position-relative">
    <div class="container">
        <div class="row">

            <div class="col m6 s12">
                <p>PACK PARA VENDER MÁS</p>
                <p class="m-0 text-justify">
                    Toma ventaja con el pack de recursos y estrategias que utilizamos para generar miles de pesos cada
                    día, en piloto automático.
                </p>
                <form class="mt-3">
                    <div class="row">
                        <div class="col s8 p-0">
                            <input id="email" type="email" class="white m-0">
                        </div>
                        <div class="col s4 p-0">
                            <button href="badges.html" class="btn btn-gold btn-subscribe-banner w-100">Enviar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <img src="{% static 'images/ipad.png' %}" class="home-ipad d-none d-sm-block"/>
</div>

<div class="row position-relative">
    <div class="container">
        <img src="{% static 'images/bg-blue-right.png' %}" class="blue-right-bg-img mt-5"/>
        <div class="row">
            <div class="col s12 m6">
                <h2>PRINCIPALES SERVICIOS </h2>
                <p class="gold-hr"></p>

                <a href="{{ inbound_url }}">
                    <div class="row mt-3">

                        <div class="col s3 home-service-col home-service-inbound-col">

                        </div>
                        <div class="col s9">
                            <h3 class="home-service-title">Inbound Marketing</h3>
                            <p class="home-service-title-description">
                                Obtén la atención de clientes potenciales calificados. Ofrece a tu cliente potencial
                                contenido útil e informativo en cada etapa del ciclo de vida del cliente.
                            </p>
                        </div>
                    </div>
                </a>

                <a href="#">
                    <div class="row mt-4">

                        <div class="col s3 home-service-col home-service-branding-col">

                        </div>
                        <div class="col s9">
                            <h3 class="home-service-title">Branding</h3>
                            <p class="home-service-title-description">
                                Desarrolla o relanza tu marca con un diseño
                                profesional, hermoso y funcional. Aclara tu mensaje y mejora posicionamiento. Atrae,
                                convierte y reten clientes.</p>
                        </div>
                    </div>
                </a>

                <a href="#">
                    <div class="row mt-4">

                        <div class="col s3 home-service-col home-service-leadgen-col">

                        </div>
                        <div class="col s9">
                            <h3 class="home-service-title">Lead Generation</h3>
                            <p class="home-service-title-description">
                                Define tu target y diseña un plan de marketing que te permita generar más oportunidades
                                para tu equipo comercial aumentando el volumen de buenos prospectos.
                            </p>
                        </div>
                    </div>
                </a>

                <a href="#">
                    <div class="row mt-4">

                        <div class="col s3 home-service-col home-service-marketingtools-col">

                        </div>
                        <div class="col s9">
                            <h3 class="home-service-title">Lead Management</h3>
                            <p class="home-service-title-description">
                                Construye un proceso de mercadotecnia, ventas y servicio integrado, capaz de transmitir
                                y probar el valor de la marca a los clientes.
                            </p>
                        </div>
                    </div>
                </a>

                <a href="#">
                    <div class="row mt-4">

                        <div class="col s3 home-service-col home-service-consult-col">

                        </div>
                        <div class="col s9">
                            <h3 class="home-service-title">Marcas Personales</h3>
                            <p class="home-service-title-description">
                                Muchas personas tienen talento para compartir y esto puede incluirte. La pregunta es:
                                ¿cómo convertir tu experiencia en un negocio rentable?
                            </p>
                        </div>
                    </div>
                </a>

            </div>
        </div>
    </div>
</div>

<div class="container mt-md-5 pt-md-5">
    <div class="row">
        <div class="col s12 m5 push-m7 text-right">
            <h2>NOSOTROS</h2>
            <p class="gold-hr-right"></p>

            <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua</p>
        </div>

        <div class="col s12 m7 pull-m5 position-relative mt-5 mt-md-0 text-center text-md-left">
            <img src="{% static 'images/home/home-nosotros-face.png' %}" class="responsive-img w-50 mt-5 ml-5"/>
            <img src="{% static 'images/gold-circle.png' %}" class="responsive-img home-nosotros-circle "/>
        </div>
    </div>
</div>

<div class="container casos-exito-home-container">
    <div class="row">
        <div class="col s12">
            <h2 class="text-center">CASOS DE ÉXITO</h2>
            <p class="gold-hr-center"></p>
        </div>
        <div class="col s12">

            <div class="owl-carousel" id="owl-carousel-casos-exito">
                <div class="row">
                    <div class="col s12 m6 text-center">
                        <img src="{% static 'images/home/exito/ludi.jpg' %}"
                             class="responsive-img w-50 mx-auto"/>
                    </div>
                    <div class="col s12 m6 text-center text-md-left">
                        <p class="mt-md-5">
                            “Trabajar con Güork ha sido productivo, divertido, efectivo y eficiente. Me ha
                            impresionado mucho su capacidad para comprender nuestros productos y mercado a través de su
                            proceso de descubrimiento y luego traducir su descubrimiento en entregas
                            significativas.”</p>
                        <p class="font-150 my-2">- Ludi</p>

<!--                        <a href="badges.html" class="btn btn-gold">VER VIDEO</a>-->
                    </div>

                </div>
                <div class="row">
                    <div class="col s12 m6 text-center">
                        <img src="{% static 'images/home/exito/gnp.jpg' %}"
                             class="responsive-img w-50 mx-auto"/>
                    </div>
                    <div class="col s12 m6 text-center text-md-left">
                        <p class="mt-md-5">
                            “Trabajamos con Güork para actualizar nuestras páginas de productos antes de lanzar nuestra
                            tienda en línea y, sinceramente, fueron el proveedor más fácil con el que hemos trabajado.
                            Escucharon lo que queríamos y generaron hermosas propuestas en una semana. Son profesionales
                            y trabajan rápido.”
                        </p>
                        <p class="font-150 my-2">- GNP</p>

<!--                        <a href="badges.html" class="btn btn-gold">VER VIDEO</a>-->
                    </div>

                </div>

                <div class="row">
                    <div class="col s12 m6 text-center">
                        <img src="{% static 'images/home/exito/aeromar.jpg' %}"
                             class="responsive-img w-50 mx-auto"/>
                    </div>
                    <div class="col s12 m6 text-center text-md-left">
                        <p class="mt-md-5">
                            “Güork Marketing Agency hizo un trabajo excepcional ayudándonos con un cambio radical en la
                            imagen de nuestra marca. No podríamos estar más felices. Crearon una mejor experiencia
                            general para el usuario, optimizaron el sitio para SEO y lo hicieron visualmente atractivo.”
                        </p>
                        <p class="font-150 my-2">- Aeromar</p>

<!--                        <a href="badges.html" class="btn btn-gold">VER VIDEO</a>-->
                    </div>

                </div>

                <div class="row">
                    <div class="col s12 m6 text-center">
                        <img src="{% static 'images/home/exito/lapi.jpg' %}"
                             class="responsive-img w-50 mx-auto"/>
                    </div>
                    <div class="col s12 m6 text-center text-md-left">
                        <p class="mt-md-5">
                            “Mi equipo y yo comenzamos a trabajar con Güork hace poco menos de un año cuando lanzamos
                            nuestra nueva marca. Han sido fundamentales para su éxito, especialmente con tantos
                            recursos. Nuestro ejecutivo de proyecto es el MEJOR se aseguró en todo momento de que
                            nuestras necesidades estuvieran atendidas. ¡La más alta recomendación!
                        </p>
                        <p class="font-150 my-2">- Lapi</p>

<!--                        <a href="badges.html" class="btn btn-gold">VER VIDEO</a>-->
                    </div>

                </div>
            </div>


        </div>
    </div>
</div>

<div class="row bg-gold m-md-0 py-5 position-relative cotiza-banner-container">
    <img src="{% static 'images/climber.png' %}" class="cotiza-banner-climber"/>

    <div class="container cotiza-banner-row">
        <div class="row text-md-right">
            <div class="col s12 m6">
                <h2 class="text-white">¡Cotiza Ahora!</h2>
                <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua</p>
                <p class="text-md-right">
                    <a class="btn btn-outline-gold" href="#">COTIZAR</a>
                </p>
            </div>
        </div>
    </div>

</div>

<div class="container my-5">
    <div class="row">
        <div class="col s12">
            <h2 class="text-center">PARTNERTSHIP</h2>
            <p class="gold-hr-center"></p>

            <!-- Set up your HTML -->
            <div class="owl-carousel" id="owl-carousel-partnertship">
                <img src="{% static '/images/home/partners/clientify.jpg' %}" class=""/>

                <img src="{% static '/images/home/partners/digital-marketer.jpg' %}" class=""/>

                <img src="{% static '/images/home/partners/google.jpg' %}" class=""/>

                <img src="{% static '/images/home/partners/hubspot.jpg' %}" class=""/>

                <img src="{% static '/images/home/partners/instapage.jpg' %}" class=""/>

                <img src="{% static '/images/home/partners/wistia.jpg' %}" class=""/>

            </div>

        </div>
    </div>
</div>

<div class="row bg-light-grey">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h2 class="text-center">Nuestro Blog</h2>
                <p class="gold-hr-center"></p>
            </div>
        </div>

        <div class="row">
            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image">
                        <img src="https://materializecss.com/images/sample-1.jpg">
                        <a class="btn-floating halfway-fab waves-effect waves-light bg-gold"><i
                                class="material-icons">add</i></a>
                    </div>
                    <div class="card-content text-center">
                        <p class="home-blog-title">COMO APARECER EN GOOGLE PARA AUMENTAR TU POSICIONAMIENTO WEB?</p>
                        <p class="gold-hr-center my-3"></p>
                        <p class="home-blog-desc">I am a very simple card. I am good at containing small bits of
                            information. I am
                            convenient because I require little markup to use effectively.</p>
                    </div>
                </div>

            </div>
            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image">
                        <img src="https://materializecss.com/images/sample-1.jpg">
                        <a class="btn-floating halfway-fab waves-effect waves-light bg-gold"><i
                                class="material-icons">add</i></a>
                    </div>
                    <div class="card-content text-center">
                        <p class="home-blog-title">COMO APARECER EN GOOGLE PARA AUMENTAR TU POSICIONAMIENTO WEB?</p>
                        <p class="gold-hr-center my-3"></p>
                        <p class="home-blog-desc">I am a very simple card. I am good at containing small bits of
                            information. I am
                            convenient because I require little markup to use effectively.</p>
                    </div>
                </div>

            </div>

            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image">
                        <img src="https://materializecss.com/images/sample-1.jpg">
                        <a class="btn-floating halfway-fab waves-effect waves-light bg-gold"><i
                                class="material-icons">add</i></a>
                    </div>
                    <div class="card-content text-center">
                        <p class="home-blog-title">COMO APARECER EN GOOGLE PARA AUMENTAR TU POSICIONAMIENTO WEB?</p>
                        <p class="gold-hr-center my-3"></p>
                        <p class="home-blog-desc">I am a very simple card. I am good at containing small bits of
                            information. I am
                            convenient because I require little markup to use effectively.</p>
                    </div>
                </div>

            </div>

        </div>

        <div class="row my-5">
            <div class="col s12 m6 offset-m3">
                <a class="btn btn-gold w-100" href="#">VER MÁS</a>
            </div>
        </div>
    </div>
</div>

<div class="container my-5">
    <div class="row">
        <div class="col s6 offset-s3 m4 offset-m4">
            <img src="{% static 'images/home/home-gold-plane.png' %}" class="responsive-img"/>
        </div>
        <div class="col s12">
            <p class="home-contactanos-title">CONTÁCTANOS</p>
            <p class="text-center text-uppercase text-barlow font-weight-bold font-150">
                Da Click y dejanos tus comentarios</p>
        </div>
    </div>
    <div class="row my-2">
        <div class="col s12 m6 offset-m3">
            <a class="btn btn-gold w-100" href="{{ contact_url }}">CONTÁCTANOS</a>
        </div>
    </div>
</div>


{% endblock %}


{% block js_extra %}

{% endblock %}