{% extends "base.html" %}

{% load static %}

{% block head_title %} {% endblock %}

{% block content %}

{% url 'inbound' as inbound_url %}


<div class="row">
    <div class="container">
        <div class="row">
            <div class="col s12 m6 offset-m6 my-md-5">
                <h1 class="text-right text-uppercase">Lorem ipsum <br> dolor sit amet</h1>
                <p class="text-right">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et
                    dolore magna aliqua</p>
                <p class="text-right">
                    <a class="btn btn-outline-gold" href="#">COTIZAR</a>
                    <a class="btn btn-outline-gold" href="#">CONTACTANOS</a>
                </p>
            </div>
        </div>
        <img src="{% static 'images/bg-blue-left.png' %}" class="blue-left-bg-img"/>
    </div>
</div>

<div class="row bg-light-grey py-3 my-3 position-relative">
    <div class="container">
        <div class="row">

            <div class="col m6 s12">
                <p class="m-0 text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor
                    incididunt
                    ut labore et
                    dolore magna aliqua</p>
                <form class="mt-3">
                    <div class="row">
                        <div class="col s8 p-0">
                            <input id="email" type="email" class="white m-0">
                        </div>
                        <div class="col s4 p-0">
                            <button href="badges.html" class="btn btn-gold btn-subscribe-banner w-100">Enviar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <img src="{% static 'images/ipad.png' %}" class="home-ipad d-none d-sm-block"/>
</div>

<div class="row position-relative">
    <div class="container">
        <img src="{% static 'images/bg-blue-right.png' %}" class="blue-right-bg-img mt-5"/>
        <div class="row">
            <div class="col s12 m5">
                <h2>SERVICIOS</h2>
                <p class="gold-hr"></p>

                <a href="{{ inbound_url }}">
                    <div class="row mt-3">

                        <div class="col s3 home-service-col home-service-inbound-col">

                        </div>
                        <div class="col s9">
                            <h3 class="home-service-title">Inbound Marketing</h3>
                            <p class="home-service-title-description">Lorem ipsum dolor sit amet, consectetur adipiscing
                                elit,
                                sed do eiusmod tempor
                                incididunt</p>
                        </div>
                    </div>
                </a>

                <a href="#">
                    <div class="row mt-3">

                        <div class="col s3 home-service-col home-service-branding-col">

                        </div>
                        <div class="col s9">
                            <h3 class="home-service-title">Branding</h3>
                            <p class="home-service-title-description">Lorem ipsum dolor sit amet, consectetur adipiscing
                                elit,
                                sed do eiusmod tempor
                                incididunt</p>
                        </div>
                    </div>
                </a>

                <a href="#">
                    <div class="row mt-3">

                        <div class="col s3 home-service-col home-service-leadgen-col">

                        </div>
                        <div class="col s9">
                            <h3 class="home-service-title">Lead Generation</h3>
                            <p class="home-service-title-description">Lorem ipsum dolor sit amet, consectetur adipiscing
                                elit,
                                sed do eiusmod tempor
                                incididunt</p>
                        </div>
                    </div>
                </a>

                <a href="#">
                    <div class="row mt-3">

                        <div class="col s3 home-service-col home-service-marketingtools-col">

                        </div>
                        <div class="col s9">
                            <h3 class="home-service-title">Marketing Tools</h3>
                            <p class="home-service-title-description">Lorem ipsum dolor sit amet, consectetur adipiscing
                                elit,
                                sed do eiusmod tempor
                                incididunt</p>
                        </div>
                    </div>
                </a>

                <a href="#">
                    <div class="row mt-3">

                        <div class="col s3 home-service-col home-service-consult-col">

                        </div>
                        <div class="col s9">
                            <h3 class="home-service-title">Consultoria</h3>
                            <p class="home-service-title-description">Lorem ipsum dolor sit amet, consectetur adipiscing
                                elit,
                                sed do eiusmod tempor
                                incididunt</p>
                        </div>
                    </div>
                </a>

            </div>
        </div>
    </div>
</div>

<div class="container mt-md-5 pt-md-5">
    <div class="row">
        <div class="col s12 m5 push-m7 text-right">
            <h2>NOSOTROS</h2>
            <p class="gold-hr-right"></p>

            <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua</p>
        </div>

        <div class="col s12 m7 pull-m5 position-relative mt-5 mt-md-0 text-center text-md-left">
            <img src="{% static 'images/home/home-nosotros-face.png' %}" class="responsive-img w-50 mt-5 ml-5"/>
            <img src="{% static 'images/gold-circle.png' %}" class="responsive-img home-nosotros-circle "/>
        </div>
    </div>
</div>

<div class="container casos-exito-home-container">
    <div class="row">
        <div class="col s12">
            <h2 class="text-center">CASOS DE ÉXITO</h2>
            <p class="gold-hr-center"></p>
        </div>
        <div class="col s12">

            <div class="owl-carousel" id="owl-carousel-casos-exito">
                <div class="row">
                    <div class="col s12 m6 text-center">
                        <img src="{% static 'images/home/logo-empresa-test.png' %}"
                             class="responsive-img w-50"/>
                    </div>
                    <div class="col s12 m6 text-center text-md-left">
                        <p>1 Nombre</p>
                        <p>Posicion</p>
                        <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor
                            incididunt</p>
                        <a href="badges.html" class="btn btn-gold">VER VIDEO</a>
                    </div>

                </div>
                <div class="row">
                    <div class="col s12 m6 text-center">
                        <img src="{% static 'images/home/logo-empresa-test.png' %}"
                             class="responsive-img w-50"/>
                    </div>
                    <div class="col s12 m6 text-center text-md-left">
                        <p>1 Nombre</p>
                        <p>Posicion</p>
                        <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor
                            incididunt</p>
                        <a href="badges.html" class="btn btn-gold">VER VIDEO</a>
                    </div>

                </div>
            </div>


        </div>
    </div>
</div>

<div class="row bg-gold m-md-0 py-5 position-relative cotiza-banner-container">
    <img src="{% static 'images/climber.png' %}" class="cotiza-banner-climber"/>

    <div class="container cotiza-banner-row">
        <div class="row text-md-right">
            <div class="col s12 m6">
                <h2 class="text-white">¡Cotiza Ahora!</h2>
                <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua</p>
                <p class="text-md-right">
                    <a class="btn btn-outline-gold" href="#">COTIZAR</a>
                </p>
            </div>
        </div>
    </div>

</div>

<div class="container my-5">
    <div class="row">
        <div class="col s12">
            <h2 class="text-center">PARTNERTSHIP</h2>
            <p class="gold-hr-center"></p>

            <!-- Set up your HTML -->
            <div class="owl-carousel" id="owl-carousel-partnertship">
                <img src="{% static 'images/logo.png' %}" class=""/>

                <img src="{% static 'images/logo.png' %}" class=""/>

                <img src="{% static 'images/logo.png' %}" class=""/>

                <img src="{% static 'images/logo.png' %}" class=""/>

                <img src="{% static 'images/logo.png' %}" class=""/>

                <img src="{% static 'images/logo.png' %}" class=""/>

                <img src="{% static 'images/logo.png' %}" class=""/>

                <img src="{% static 'images/logo.png' %}" class=""/>

                <img src="{% static 'images/logo.png' %}" class=""/>

            </div>

        </div>
    </div>
</div>

<div class="row bg-light-grey">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h2 class="text-center">Nuestro Blog</h2>
                <p class="gold-hr-center"></p>
            </div>
        </div>

        <div class="row">
            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image">
                        <img src="https://materializecss.com/images/sample-1.jpg">
                        <a class="btn-floating halfway-fab waves-effect waves-light bg-gold"><i
                                class="material-icons">add</i></a>
                    </div>
                    <div class="card-content text-center">
                        <p class="home-blog-title">COMO APARECER EN GOOGLE PARA AUMENTAR TU POSICIONAMIENTO WEB?</p>
                        <p class="gold-hr-center my-3"></p>
                        <p class="home-blog-desc">I am a very simple card. I am good at containing small bits of
                            information. I am
                            convenient because I require little markup to use effectively.</p>
                    </div>
                </div>

            </div>
            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image">
                        <img src="https://materializecss.com/images/sample-1.jpg">
                        <a class="btn-floating halfway-fab waves-effect waves-light bg-gold"><i
                                class="material-icons">add</i></a>
                    </div>
                    <div class="card-content text-center">
                        <p class="home-blog-title">COMO APARECER EN GOOGLE PARA AUMENTAR TU POSICIONAMIENTO WEB?</p>
                        <p class="gold-hr-center my-3"></p>
                        <p class="home-blog-desc">I am a very simple card. I am good at containing small bits of
                            information. I am
                            convenient because I require little markup to use effectively.</p>
                    </div>
                </div>

            </div>

            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image">
                        <img src="https://materializecss.com/images/sample-1.jpg">
                        <a class="btn-floating halfway-fab waves-effect waves-light bg-gold"><i
                                class="material-icons">add</i></a>
                    </div>
                    <div class="card-content text-center">
                        <p class="home-blog-title">COMO APARECER EN GOOGLE PARA AUMENTAR TU POSICIONAMIENTO WEB?</p>
                        <p class="gold-hr-center my-3"></p>
                        <p class="home-blog-desc">I am a very simple card. I am good at containing small bits of
                            information. I am
                            convenient because I require little markup to use effectively.</p>
                    </div>
                </div>

            </div>

        </div>

        <div class="row my-5">
            <div class="col s12 m6 offset-m3">
                <a class="btn btn-gold w-100" href="#">VER MÁS</a>
            </div>
        </div>
    </div>
</div>

<div class="container my-5">
    <div class="row">
        <div class="col s6 offset-s3 m4 offset-m4">
            <img src="{% static 'images/home/home-gold-plane.png' %}" class="responsive-img"/>
        </div>
        <div class="col s12">
            <p class="home-contactanos-title">CONTÁCTANOS</p>
            <p class="text-center text-uppercase text-barlow font-weight-bold font-150">
                Da Click y dejanos tus comentarios</p>
        </div>
    </div>
    <div class="row my-2">
        <div class="col s12 m6 offset-m3">
            <a class="btn btn-gold w-100" href="#">CONTÁCTANOS</a>
        </div>
    </div>
</div>


{% endblock %}


{% block js_extra %}

{% endblock %}