{% extends "base.html" %}

{% load static %}

{% block head_title %} {% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col s12 m6 offset-m6 my-5">
            <h1 class="text-right text-uppercase">Inbound <br> Marketing</h1>
            <p class="text-right">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et
                dolore magna aliqua</p>
            <p class="text-right">
                <a class="btn btn-outline-gold" href="#">COTIZAR</a>
                <a class="btn btn-outline-gold" href="#">CONTACTANOS</a>
            </p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col s12">
            <h2 class="text-uppercase">Metodología</h2>
            <p class="gold-hr"></p>

            <img src="{% static 'images/inbound/metodologia.png' %}" class="responsive-img mt-5"/>
        </div>
    </div>
</div>

<div class="row bg-gold m-0 py-5">
    <div class="container">
        <div class="row text-right">
            <div class="col s12 m6">
                <h2 class="text-white">¡Cotiza Ahora!</h2>
                <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua</p>
                <p class="text-right">
                    <a class="btn btn-outline-gold" href="#">COTIZAR</a>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col s6 offset-m6 text-right">
            <h2 class="text-uppercase">¿Como funciona?</h2>
            <p class="gold-hr-right"></p>

            <p class="m-0 font-italic font-weight-bold">"Vende a otros como te gustaria que te vendieran"</p>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m6">
            <div class="row inbound-cf-squares">
                <div class="col s3 inbound-cf-icon">
                    <img src="{% static 'images/inbound/test-logo.png' %}" class="responsive-img"/>
                </div>
                <div class="col s9">
                    <h3 class="m-0">ATRAER</h3>
                    <p class="text-justify">Crear u compartir contenido valioso que atraiga a las personas adecuadas a
                        los medios digitales
                        en los que tu marca tenga presencia y dirigirlos a tu sitio web</p>
                </div>
            </div>
        </div>

        <div class="col s12 m6 ">
            <div class="row inbound-cf-squares">
                <div class="col s3 inbound-cf-icon">
                    <img src="{% static 'images/inbound/test-logo.png' %}" class="responsive-img"/>
                </div>
                <div class="col s9">
                    <h3 class="m-0">CONVERTIR</h3>
                    <p class="text-justify">Crear u compartir contenido valioso que atraiga a las personas adecuadas a
                        los medios digitales
                        en los que tu marca tenga presencia y dirigirlos a tu sitio web</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col s12 m6">
            <div class="row inbound-cf-squares">
                <div class="col s3 inbound-cf-icon">
                    <img src="{% static 'images/inbound/test-logo.png' %}" class="responsive-img"/>
                </div>
                <div class="col s9">
                    <h3 class="m-0">CERRAR</h3>
                    <p class="text-justify">Crear u compartir contenido valioso que atraiga a las personas adecuadas a
                        los medios digitales
                        en los que tu marca tenga presencia y dirigirlos a tu sitio web</p>
                </div>
            </div>
        </div>

        <div class="col s12 m6">
            <div class="row inbound-cf-squares">
                <div class="col s3 inbound-cf-icon">
                    <img src="{% static 'images/inbound/test-logo.png' %}" class="responsive-img"/>
                </div>
                <div class="col s9">
                    <h3 class="m-0">DELEITAR</h3>
                    <p class="text-justify">Crear u compartir contenido valioso que atraiga a las personas adecuadas a
                        los medios digitales
                        en los que tu marca tenga presencia y dirigirlos a tu sitio web</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col s12">
            <h2 class="text-uppercase">Canales</h2>
            <p class="gold-hr"></p>

        </div>
    </div>

    <div class="row mt-5">
        <div class="col s12 m6 mt-5">
            <div class="row inbound-canales-square">
                <div class="col s2 p-0">
                    <img src="{% static 'images/inbound/test-logo.png' %}" class="responsive-img icon-gold-round"/>
                </div>
                <div class="col s10">
                    <h3 class="text-uppercase mt-2">Blogging</h3>
                    <p class="text-justify mt-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor
                        incididunt ut labore et
                        dolore magna aliqua Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor
                        incididunt ut labore et
                        dolore magna aliqua</p>
                </div>
            </div>
        </div>
        <div class="col s12 m6">

        </div>
    </div>
</div>

<div class="row mt-5 py-5 bg-blue text-white mb-0">
    <div class="container">
        <div class="row mb-0">
            <div class="col s12 text-center">
                <h2 class="text-uppercase">Solicita una cotización</h2>
                <p class="gold-hr-center"></p>
                <h3 class="text-uppercase">Datos personales</h3>
            </div>
        </div>
        <div class="row">

            <div class="input-field col s6">
                <input id="full_name" type="text" class="validate text-white">
                <label for="full_name" class="">First Name</label>
            </div>
            <div class="input-field col s6">
                <input id="email" type="text" class="validate text-white">
                <label for="email">Correo Electrónico</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s6">
                <input id="empresa" type="text" class="validate text-white">
                <label for="empresa">Nombre de tu empresa</label>
            </div>
            <div class="input-field col s6">
                <input id="phone" type="text" class="validate text-white">
                <label for="phone">Teléfono</label>
            </div>
        </div>
    </div>
</div>

<div class="row mb-0 py-5 bg-dark-blue text-white">
    <div class="container">
        <div class="row">
            <div class="col s12 text-center mb-5">
                <h3 class="text-uppercase m-0">¿Qué podemos hacer por ti?</h3>
            </div>

            <div class="col s4 m2 offset-m1 text-center">
                <label for="inlineRadio1">
                    <img src="{% static 'images/inbound/test-logo.png' %}" class="responsive-img"/>
                    <label>
                        <input name="group1" type="radio" id="inlineRadio1"/>
                        <span></span>
                    </label>
                    <p class="quote-service-text">Inbound Marketing</p>
                </label>
            </div>

            <div class="col s4 m2 text-center">
                <label for="inlineRadio2">
                    <img src="{% static 'images/inbound/test-logo.png' %}" class="responsive-img"/>
                    <label>
                        <input name="group1" type="radio" id="inlineRadio2"/>
                        <span></span>
                    </label>
                    <p class="quote-service-text">Branding</p>
                </label>
            </div>

            <div class="col s4 m2 text-center">
                <label for="inlineRadio3">
                    <img src="{% static 'images/inbound/test-logo.png' %}" class="responsive-img"/>
                    <label>
                        <input name="group1" type="radio" id="inlineRadio3"/>
                        <span></span>
                    </label>
                    <p class="quote-service-text">Lead Generation</p>
                </label>
            </div>

            <div class="col s4 m2 text-center">
                <label for="inlineRadio4">
                    <img src="{% static 'images/inbound/test-logo.png' %}" class="responsive-img"/>
                    <label>
                        <input name="group1" type="radio" id="inlineRadio4"/>
                        <span></span>
                    </label>
                    <p class="quote-service-text">Marketing Tools</p>
                </label>
            </div>

            <div class="col s4 m2 text-center">
                <label for="inlineRadio5">
                    <img src="{% static 'images/inbound/test-logo.png' %}" class="responsive-img"/>
                    <label>
                        <input name="group1" type="radio" id="inlineRadio5"/>
                        <span></span>
                    </label>
                    <p class="quote-service-text">Consultoria</p>
                </label>
            </div>

        </div>
    </div>
</div>

<div class="row mb-0 py-5 bg-blue text-white">
    <div class="container">
        <div class="row">
            <div class="col s12 text-center mb-5">
                <h3 class="text-uppercase m-0">¿Cuáles son los detalles de tu proyecto?</h3>
            </div>
            <div class="input-field col s12">
                <textarea id="textarea1" class="materialize-textarea text-white"></textarea>
                <label for="textarea1">Textarea</label>
            </div>
        </div>
    </div>
</div>

<div class="row mb-0 py-5 bg-dark-blue">
    <div class="container">
        <div class="row">
            <div class="col s12 text-center text-white">
                <h3 class="text-uppercase m-0">¿Cuál es tu presupuesto mensual?</h3>
            </div>

            <div class="col s12 m4 offset-m4 mt-3">
                <div class="input-field quote-slider-text-container">
                    <i class="material-icons prefix quote-slider-text-icon">attach_money</i>
                    <input title="Formatted number" id="quote-budget-text" class="quote-slider-text text-center"
                           type="text">
                </div>
            </div>
            <div class="col s12 text-center mb-5">
                <div id="slider-budget" class="my-5"></div>
            </div>


            <div class="col s12 text-center text-white">
                <h3 class="text-uppercase m-0">¿Por cuantos meses piensas invertir?</h3>
            </div>

            <div class="col s12 m4 offset-m4 mt-3">
                <div class="input-field quote-slider-text-container">
                    <i class="material-icons prefix quote-slider-text-icon">calendar_today</i>
                    <input title="Formatted number" id="quote-months-text" class="quote-slider-text text-center"
                           type="text">
                </div>
            </div>
            <div class="col s12 text-center mb-5">
                <div id="slider-month" class="my-5"></div>
            </div>

            <div class="col s12 m6 offset-m3">
                <a class="btn btn-gold w-100" href="#" content="w-md-50">COTIZAR</a>
            </div>
        </div>
    </div>
</div>

<style>
.noUi-target {
    padding: 0 17px;
}

</style>

{% endblock %}


{% block js_extra %}

<script>

</script>

{% endblock %}