{% extends "base.html" %}

{% load static %}

{% block head_title %} {% endblock %}

{% block content %}

<div class="row">
    <div class="col s12 p-0">
        <img src="{% static 'images/nosotros/header.jpg' %}" alt="" class="responsive-img">
    </div>
</div>

<div class="container-fluid position-relative">
    <div class="container ">
        <div class="row">
            <div class="col s12 m9">
                <h1 class="text-blue">GUORK</h1>
                <p class="gold-hr"></p>

                <p class="font-barlow font-200 font-weight-600 m-0">Somos una agencia de marketing digital basada en
                    resultados.</p>
                <!--                <p class="m-0 font-barlow font-weight-bold">Sed do eiusmod tempor incididunt</p>-->

                <p class="text-justify font-200">Nos especializamos en generar estrategias que le permitan a tu negocio
                    alcanzar
                    sus metas</p>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m5">
                <img src="{% static 'images/nosotros/map.png' %}" alt="" class="responsive-img">
            </div>
            <div class="col s12 m4 center">
                <img src="{% static 'images/circle-white.png' %}" class="responsive-img w-25 d-none d-md-block pb-5">
                <p class="text-justify mt-5 pt-5 font-200">Entendemos que las necesidades de las empresas pueden ser
                    cubiertas
                    por un
                    equipo que fue armado, pensando en cubrir cada una de las necesidades que el mercado exige.
                </p>
                <p class="text-justify font-200">De esta manera, podemos ofrecerle a tu proyecto una cobertura amplia
                    para poder
                    llevar a cabo cualquier estrategia.
                </p>
            </div>
        </div>
    </div>
    <img src="{% static 'images/bg-blue-right-simple-4.png' %}" alt="" class="nosotros-bg-blue-1 d-none d-md-block">
    <img src="{% static 'images/bg-splash-lines.png' %}" alt="" class="nosotros-splash-lines-1 d-none d-md-block">

</div>


<div class="container mt-5">

    <div class="row">
        <div class="col s12 m12 center">
            <img src="{% static 'images/nosotros/quienes-somos.png' %}" alt="" class="responsive-img">
            <p class="font-200">Nuestro equipo de trabajo está compuesto por especialistas que entienden las
                necesidades de tu proyecto y tienen la capacidad de adaptarse a él para garantizar el mejor
                resultado.</p>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m6">
            <p class="font-barlow font-300 mb-4 text-gold">Misión</p>
            <p class="text-justify m-0 font-200">Nuestra misión es obtener resultados favorables para mejorar la
                experiencia de nuestros clientes al momento implementar estrategias en su proyecto que le permitan
                llevar su empresa al siguiente nivel.</p>

            <p class="font-barlow font-300 mb-4 text-gold">Visión</p>
            <p class="text-justify m-0 font-200">Convertirnos en una de las agencias de América Latina que más empresas
                hayan ayudado a impulsarse con base en estrategias efectivas y un desarrollo integral.</p>

            <p class="font-barlow font-300 mb-4 text-gold">Valores</p>
            <p class="text-justify m-0 font-200">Compromiso, calidad, trabajo en equipo, colaboración, creatividad,
                desarrollo e innovación.</p>
        </div>

        <div class="col s12 m6">
            <img src="{% static 'images/nosotros/bg-people.png' %}" alt="" class="responsive-img">
        </div>
    </div>
</div>

<div class="container my-5">
    <div class="row">
        <div class="col s12 m4 offset-m4">
            <p class="text-blue font-barlow font-400 center ">NUESTRA CULTURA</p>
        </div>
    </div>

    <div class="row d-md-flex">
        <div class="col s12 m3 px-5 ml-auto center">
            <img src="{% static 'images/nosotros/iconos/pasion.png' %}" alt="" width="50%" class="">
            <p class="text-blue font-300 m-0">PASIÓN</p>
            <p class="m-0 pt-1 font-200">Para llevar a cabo cada una de nuestras tareas.</p>

        </div>

        <div class="col s12 m3 px-5 mt-5 mt-md-0 center">
            <img src="{% static 'images/nosotros/iconos/esfuerzo.png' %}" alt="" width="50%" class="">
            <p class="text-blue font-300 m-0">ESFUERZO</p>
            <p class="m-0 pt-1 font-200">En cada proyecto para lograr obtener el mejor resultado.</p>
        </div>

        <div class="col s12 m3 px-5 mr-auto mt-5 mt-md-0 center">
            <img src="{% static 'images/nosotros/iconos/conviccion.png' %}" alt="" width="50%" class="">
            <p class="text-blue font-300 m-0">CONVICCIÓN</p>
            <p class="m-0 pt-1 font-200">Al tomar decisiones en favor de tu empresa.</p>

        </div>
    </div>
    <div class="row d-md-flex mt-md-5">
        <div class="col s12 m3 ml-auto mt-5 mt-md-0 center ">
            <img src="{% static 'images/nosotros/iconos/compromiso.png' %}" alt="" width="50%" class="">
            <p class="text-blue font-300 m-0">COMPROMISO</p>
            <p class="m-0 pt-1 font-200">Para cumplir con las exigencias del proyecto.</p>

        </div>

        <div class="col s12 m3 mt-5 mt-md-0 center">
            <img src="{% static 'images/nosotros/iconos/optimismo.png' %}" alt="" width="50%" class="">
            <p class="text-blue font-300 m-0">OPTIMISMO</p>
            <p class="m-0 pt-1 font-200">Para saber enfrentar los retos de la mejor manera.</p>
        </div>

        <div class="col s12 m3 mr-auto mt-5 mt-md-0 center">
            <img src="{% static 'images/nosotros/iconos/mejora-constante.png' %}" alt="" width="50%" class="">
            <p class="text-blue font-300 m-0">MEJORA CONSTANTE</p>
            <p class="m-0 pt-1 font-200">Nos encontramos siempre aprendiendo y mejorando nuestros procesos</p>

        </div>
    </div>

</div>

<div class="container">
    <div class="row">
        <div class="col s12">
            <h2 class="text-barlow font-weight-600 center font-500 text-blue">CONOCE AL
                <span class="font-weight-bold text-barlow">EQUIPO</span></h2>
        </div>
    </div>
</div>
<div class="container-fluid">

    <div class="row" id="filter_btns_container">
        <div class="col s6 m1 offset-m2">
            <p class="filter_btns" onclick="filterSelection('liderazgo')">Liderazgo</p>
        </div>
        <div class="col s6 m1">
            <p class="filter_btns" onclick="filterSelection('servicio')">Servicio</p>
        </div>
        <div class="col s6 m1">
            <p class="filter_btns" onclick="filterSelection('creativo')">Creativo</p>
        </div>
        <div class="col s6 m1">
            <p class="filter_btns" onclick="filterSelection('desarrollo')">Desarrollo</p>
        </div>
        <div class="col s6 m1">
            <p class="filter_btns" onclick="filterSelection('marketing')">Marketing</p>
        </div>
        <div class="col s6 m1">
            <p class="filter_btns" onclick="filterSelection('estrategia')">Estrategia</p>
        </div>
        <div class="col s6 m1">
            <p class="filter_btns" onclick="filterSelection('ventas')">Ventas</p>
        </div>
        <div class="col s6 m1">
            <p class="filter_btns active" onclick="filterSelection('all')">Todo</p>
        </div>
    </div>
</div>
<div class="container my-5">

    <div class="row">
        <div class="col s12 m10 offset-m1">
            <div class="row">
                <div class="col s4 m3 filterDiv liderazgo center">
                    <img src="{% static 'images/nosotros/profile.png' %}" alt="" class="responsive-img">
                    <p>Nombre Completo 1</p>
                    <p>Puesto</p>
                </div>

                <div class="col s4 m3 filterDiv liderazgo servicio center">
                    <img src="{% static 'images/nosotros/profile.png' %}" alt="" class="responsive-img">
                    <p>Nombre Completo 2</p>
                    <p>Puesto</p>
                </div>

                <div class="col s4 m3 filterDiv servicio center">
                    <img src="{% static 'images/nosotros/profile.png' %}" alt="" class="responsive-img">
                    <p>Nombre Completo 3</p>
                    <p>Puesto</p>
                </div>

                <div class="col s4 m3 filterDiv servicio center">
                    <img src="{% static 'images/nosotros/profile.png' %}" alt="" class="responsive-img">
                    <p>Nombre Completo 3</p>
                    <p>Puesto</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row nosotros-movida-container py-5">
    <div class="col s12 m6 offset-m3 center py-5">
        <img src="{% static 'images/nosotros/balon-en-tu-cancha.png' %}" alt="" class="responsive-img w-50">
        <h2 class="font-200 center">¿TE GUSTA LO QUE VES? <span
                class=" text-barlow font-weight-bold">HAZ TU MOVIDA</span></h2>
        <p class="btn btn-gold w-75"><a href="#" class="text-barlow">TRABAJA CON NOSOTROS</a></p>
    </div>

</div>

<script>
    filterSelection("all")

    function filterSelection(c) {
        var x, i;
        x = document.getElementsByClassName("filterDiv");
        if (c == "all") c = "";
        // Add the "show" class (display:block) to the filtered elements, and remove the "show" class from the elements that are not selected
        for (i = 0; i < x.length; i++) {
            w3RemoveClass(x[i], "show");
            if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
        }
    }

    // Show filtered elements
    function w3AddClass(element, name) {
        var i, arr1, arr2;
        arr1 = element.className.split(" ");
        arr2 = name.split(" ");
        for (i = 0; i < arr2.length; i++) {
            if (arr1.indexOf(arr2[i]) == -1) {
                element.className += " " + arr2[i];
            }
        }
    }

    // Hide elements that are not selected
    function w3RemoveClass(element, name) {
        var i, arr1, arr2;
        arr1 = element.className.split(" ");
        arr2 = name.split(" ");
        for (i = 0; i < arr2.length; i++) {
            while (arr1.indexOf(arr2[i]) > -1) {
                arr1.splice(arr1.indexOf(arr2[i]), 1);
            }
        }
        element.className = arr1.join(" ");
    }

    // Add active class to the current control button (highlight it)
    var btnContainer = document.getElementById("filter_btns_container");
    var btns = btnContainer.getElementsByClassName("filter_btns");
    for (var i = 0; i < btns.length; i++) {
        btns[i].addEventListener("click", function() {
            var current = document.getElementsByClassName("filter_btns active");
            current[0].className = "filter_btns";
            this.className += " active";
        });
    }















</script>

{% endblock %}