{% extends "base.html" %}

{% load static %}

{% block head_title %} {% endblock %}

{% block content %}

{% url 'inbound' as inbound_url %}
{% url 'contact' as contact_url %}

{% url 'events' as events_url %}
{% url 'experts' as experts_url %}
{% url 'audio_visual' as audio_visual_url %}
{% url 'inbound' as inbound_url %}


<div class="container-fluid">
    <div class="container">
        <div class="row">
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col s12">
            <h2 class="soluciones-subpage-subtitle">Soluciones /</h2>
            <h1 class="soluciones-subpage-title">Programas Estratégicos</h1>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col s12 m3">
            <p class="text-blue text-barlow text-right font-150 mt-0 mb-1 text-uppercase">Caracteristicas</p>
            <ul class="tabs soluciones-tabs-ul" style="height:unset">
                <li class="tab col s12 soluciones-tabs-ul-tabs">
                    <a class="soluciones-tabs-ul-a" href="#test1">Crecimiento concentrado</a>
                </li>
                <li class="tab col s12 soluciones-tabs-ul-tabs">
                    <a class="soluciones-tabs-ul-a" href="#test2">Contabilidad KPI</a>
                </li>
                <li class="tab col s12 soluciones-tabs-ul-tabs">
                    <a class="soluciones-tabs-ul-a" href="#test3">Asociación Comprometida</a>
                </li>
                <li class="tab col s12 soluciones-tabs-ul-tabs">
                    <a class="soluciones-tabs-ul-a" href="#test4">Mente Proactiva</a>
                </li>
                <li class="tab col s12 soluciones-tabs-ul-tabs">
                    <a class="soluciones-tabs-ul-a" href="#test5">Incrustado y alineado</a>
                </li>

            </ul>
        </div>
        <div class="col s12 m9">
            <div id="test1" class="col s12">
                <div class="soluciones-tab-square">
                    <p>Adecuado para ti si</p>
                    <ul class="browser-default">
                        <li>
                            <span class="font-weight-bold">Está buscando un equipo para profundizar</span>
                            ,comprender su negocio y su entorno, y centrarse de manera proactiva en vías de crecimiento.
                        </li>
                        <li>
                                        <span class="font-weight-bold">
                                            Tiene objetivos y un presupuesto,
                                        </span>
                            y desea que un equipo disene + ejecute un plan que logre objetivos de alto nivel.
                        </li>
                        <li>
                                        <span class="font-weight-bold">
                                            Desea que un equipo diseñe e implemente
                                        </span>
                            una pila tecnológica escalable que respalde el crecimiento.
                        </li>
                        <li>
                                        <span class="font-weight-bold">
                                            Desea un equipo que rinda cuentas,
                                        </span>
                            de las iniciativas estratégicas que conciben y ejecutan.
                        </li>

                    </ul>
                </div>
            </div>
            <div id="test2" class="col s12">
                <div class="soluciones-tab-square">
                    <p>2</p>
                    <ul class="browser-default">
                        <li>
                            <span class="font-weight-bold">Está buscando un equipo para profundizar</span>
                            ,comprender su negocio y su entorno, y centrarse de manera proactiva en vías de crecimiento.
                        </li>
                        <li>
                                        <span class="font-weight-bold">
                                            Tiene objetivos y un presupuesto,
                                        </span>
                            y desea que un equipo disene + ejecute un plan que logre objetivos de alto nivel.
                        </li>
                        <li>
                                        <span class="font-weight-bold">
                                            Desea que un equipo diseñe e implemente
                                        </span>
                            una pila tecnológica escalable que respalde el crecimiento.
                        </li>
                        <li>
                                        <span class="font-weight-bold">
                                            Desea un equipo que rinda cuentas,
                                        </span>
                            de las iniciativas estratégicas que conciben y ejecutan.
                        </li>

                    </ul>
                </div>
            </div>
            <div id="test3" class="col s12">
                <div class="soluciones-tab-square">
                    <p>3</p>
                    <ul class="browser-default">
                        <li>
                            <span class="font-weight-bold">Está buscando un equipo para profundizar</span>
                            ,comprender su negocio y su entorno, y centrarse de manera proactiva en vías de crecimiento.
                        </li>
                        <li>
                                        <span class="font-weight-bold">
                                            Tiene objetivos y un presupuesto,
                                        </span>
                            y desea que un equipo disene + ejecute un plan que logre objetivos de alto nivel.
                        </li>
                        <li>
                                        <span class="font-weight-bold">
                                            Desea que un equipo diseñe e implemente
                                        </span>
                            una pila tecnológica escalable que respalde el crecimiento.
                        </li>
                        <li>
                                        <span class="font-weight-bold">
                                            Desea un equipo que rinda cuentas,
                                        </span>
                            de las iniciativas estratégicas que conciben y ejecutan.
                        </li>

                    </ul>
                </div>

            </div>
            <div id="test4" class="col s12">
                <div class="soluciones-tab-square">
                    <p>4</p>
                    <ul class="browser-default">
                        <li>
                            <span class="font-weight-bold">Está buscando un equipo para profundizar</span>
                            ,comprender su negocio y su entorno, y centrarse de manera proactiva en vías de crecimiento.
                        </li>
                        <li>
                                        <span class="font-weight-bold">
                                            Tiene objetivos y un presupuesto,
                                        </span>
                            y desea que un equipo disene + ejecute un plan que logre objetivos de alto nivel.
                        </li>
                        <li>
                                        <span class="font-weight-bold">
                                            Desea que un equipo diseñe e implemente
                                        </span>
                            una pila tecnológica escalable que respalde el crecimiento.
                        </li>
                        <li>
                                        <span class="font-weight-bold">
                                            Desea un equipo que rinda cuentas,
                                        </span>
                            de las iniciativas estratégicas que conciben y ejecutan.
                        </li>

                    </ul>
                </div>

            </div>
            <div id="test5" class="col s12">
                <div class="soluciones-tab-square">
                    <p>5</p>
                    <ul class="browser-default">
                        <li>
                            <span class="font-weight-bold">Está buscando un equipo para profundizar</span>
                            ,comprender su negocio y su entorno, y centrarse de manera proactiva en vías de crecimiento.
                        </li>
                        <li>
                                        <span class="font-weight-bold">
                                            Tiene objetivos y un presupuesto,
                                        </span>
                            y desea que un equipo disene + ejecute un plan que logre objetivos de alto nivel.
                        </li>
                        <li>
                                        <span class="font-weight-bold">
                                            Desea que un equipo diseñe e implemente
                                        </span>
                            una pila tecnológica escalable que respalde el crecimiento.
                        </li>
                        <li>
                                        <span class="font-weight-bold">
                                            Desea un equipo que rinda cuentas,
                                        </span>
                            de las iniciativas estratégicas que conciben y ejecutan.
                        </li>

                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="container-fluid position-relative pb-5 mb-5">
    <div class="container">
        <div class="row">
            <div class="col s12 m4">
                <h2>VISIÓN GENERAL</h2>
                <p class="text-justify font-080">At vero eos et accusamus et iusto odio dignissimos ducimus qui
                    blanditiis
                    praesentium voluptatum deleniti
                    atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident,
                    similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et
                    harum
                    quidem rerum facilis est et expedita distinctio.</p>

                <p class="text-justify font-080"> Nam libero tempore, cum soluta nobis est eligendi optio
                    cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est,
                    omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus
                    saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic
                    tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut
                    perferendis
                    doloribus asperiores repellat.</p>
            </div>
            <div class="col s12 m8 mt-md-5 pt-md-5">
                <div class="card py-5 px-4">
                    <h2 class="m-0 font-250">TIPOS COMUNES DE COMPROMISO</h2>

                    <div class="row mt-5">

                        <div class="col s12 m6 p-4">
                            <a href="{{ inbound_url }}">
                                <div class="row soluciones-squares">
                                    <div class="col s4 soluciones-icon">
                                        <img src="{% static 'images/inbound/test-logo.png' %}" class="responsive-img"/>
                                    </div>
                                    <div class="col s8 center">
                                        <p class="m-0">INBOUND MARKETING</p>
                                        <p class="text-blue-light">Aprende más ></p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col s12 m6 p-4">
                            <a href="{{ inbound_url }}">
                                <div class="row soluciones-squares">
                                    <div class="col s4 soluciones-icon">
                                        <img src="{% static 'images/inbound/test-logo.png' %}" class="responsive-img"/>
                                    </div>
                                    <div class="col s8 center">
                                        <p class="m-0">INBOUND MARKETING</p>
                                        <p class="text-blue-light">Aprende más ></p>
                                    </div>
                                </div>
                            </a>
                        </div>

                    </div>

                    <div class="row mt-2">

                        <div class="col s12 m6 p-4">
                            <a href="{{ inbound_url }}">
                                <div class="row soluciones-squares">
                                    <div class="col s4 soluciones-icon">
                                        <img src="{% static 'images/inbound/test-logo.png' %}" class="responsive-img"/>
                                    </div>
                                    <div class="col s8 center">
                                        <p class="m-0">INBOUND MARKETING</p>
                                        <p class="text-blue-light">Aprende más ></p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col s12 m6 p-4">
                            <a href="{{ inbound_url }}">
                                <div class="row soluciones-squares">
                                    <div class="col s4 soluciones-icon">
                                        <img src="{% static 'images/inbound/test-logo.png' %}" class="responsive-img"/>
                                    </div>
                                    <div class="col s8 center">
                                        <p class="m-0">INBOUND MARKETING</p>
                                        <p class="text-blue-light">Aprende más ></p>
                                    </div>
                                </div>
                            </a>
                        </div>

                    </div>

                    <div class="row mt-2">

                        <div class="col s12 m6 p-4">
                            <a href="{{ inbound_url }}">
                                <div class="row soluciones-squares">
                                    <div class="col s4 soluciones-icon">
                                        <img src="{% static 'images/inbound/test-logo.png' %}" class="responsive-img"/>
                                    </div>
                                    <div class="col s8 center">
                                        <p class="m-0">INBOUND MARKETING</p>
                                        <p class="text-blue-light">Aprende más ></p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col s12 m6 p-4">
                            <a href="{{ inbound_url }}">
                                <div class="row soluciones-squares">
                                    <div class="col s4 soluciones-icon">
                                        <img src="{% static 'images/inbound/test-logo.png' %}" class="responsive-img"/>
                                    </div>
                                    <div class="col s8 center">
                                        <p class="m-0">INBOUND MARKETING</p>
                                        <p class="text-blue-light">Aprende más ></p>
                                    </div>
                                </div>
                            </a>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>

    <img src="{% static 'images/bg-blue-left-3.png' %}" alt="" class="soluciones-bg-blue-left">
    <img src="{% static 'images/bg-splash-lines-2.png' %}" alt="" class="soluciones-splash-lines-1">

</div>

<div class="row bg-light-grey">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h2 class="text-center">Nuestro Blog</h2>
                <p class="gold-hr-center"></p>
            </div>
        </div>

        <div class="row">
            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image">
                        <img src="https://materializecss.com/images/sample-1.jpg">
                        <a class="btn-floating halfway-fab waves-effect waves-light bg-gold"><i
                                class="material-icons">add</i></a>
                    </div>
                    <div class="card-content text-center">
                        <p class="home-blog-title">COMO APARECER EN GOOGLE PARA AUMENTAR TU POSICIONAMIENTO WEB?</p>
                        <p class="gold-hr-center my-3"></p>
                        <p class="home-blog-desc">I am a very simple card. I am good at containing small bits of
                            information. I am
                            convenient because I require little markup to use effectively.</p>
                    </div>
                </div>

            </div>
            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image">
                        <img src="https://materializecss.com/images/sample-1.jpg">
                        <a class="btn-floating halfway-fab waves-effect waves-light bg-gold"><i
                                class="material-icons">add</i></a>
                    </div>
                    <div class="card-content text-center">
                        <p class="home-blog-title">COMO APARECER EN GOOGLE PARA AUMENTAR TU POSICIONAMIENTO WEB?</p>
                        <p class="gold-hr-center my-3"></p>
                        <p class="home-blog-desc">I am a very simple card. I am good at containing small bits of
                            information. I am
                            convenient because I require little markup to use effectively.</p>
                    </div>
                </div>

            </div>

            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image">
                        <img src="https://materializecss.com/images/sample-1.jpg">
                        <a class="btn-floating halfway-fab waves-effect waves-light bg-gold"><i
                                class="material-icons">add</i></a>
                    </div>
                    <div class="card-content text-center">
                        <p class="home-blog-title">COMO APARECER EN GOOGLE PARA AUMENTAR TU POSICIONAMIENTO WEB?</p>
                        <p class="gold-hr-center my-3"></p>
                        <p class="home-blog-desc">I am a very simple card. I am good at containing small bits of
                            information. I am
                            convenient because I require little markup to use effectively.</p>
                    </div>
                </div>

            </div>

        </div>

        <div class="row my-5">
            <div class="col s12 m6 offset-m3">
                <a class="btn btn-gold w-100" href="#">VER MÁS</a>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid position-relative">
    <div class="container my-5">
        <div class="row">
            <div class="col s6 offset-s3 m4 offset-m4">
                <img src="{% static 'images/home/home-gold-plane.png' %}" class="responsive-img"/>
            </div>
            <div class="col s12">
                <p class="home-contactanos-title">CONTÁCTANOS</p>
                <p class="text-center text-uppercase text-barlow font-weight-bold font-150">
                    Da Click y dejanos tus comentarios</p>
            </div>
        </div>
        <div class="row my-2">
            <div class="col s12 m6 offset-m3">
                <a class="btn btn-gold w-100" href="{{ contact_url }}">CONTÁCTANOS</a>
            </div>
        </div>
    </div>
    <img src="{% static 'images/bg-splash-lines-2.png' %}" class="event-list-splash-lines-2 d-none d-md-block"/>
    <img src="{% static 'images/bg-splash-lines.png' %}" class="audio-visual-splash-lines-top d-none d-md-block"/>

</div>


{% endblock %}


{% block js_extra %}

{% endblock %}