{% extends "base.html" %}

{% load static %}

{% block head_title %} {% endblock %}

{% block content %}

{% url 'inbound' as inbound_url %}
{% url 'contact' as contact_url %}
{% url 'soporte_tactico' as soporte_tactico_url %}
{% url 'programas_estrategicos' as programas_estrategicos_url %}
{% url 'proyectos' as proyectos_url %}

<div class="row">
    <div class="container">
        <div class="row">
            <div class="col s12 ml offset-ml center">
                <h1 class=" text-uppercase font-weight-bold">soluciones + servicios</h1>
                <p class=" font-200 text-uppercase text-gold">
                    Resolvemos retos. Ayudamos al crecimiento de tu negocio.
                </p>
                <p class=" font-150">
                    Lo parte digital es el núcleo de la oferta de servicios de Guork Marketing Agency. Creamos
                    soluciones para nuestros clientes que abarcan todo el ciclo de vida del cliente: desde el marketing,
                    ventas y atención post-venta.
                    Todo lo que hacemos está habilitado por la tecnología y respaldado por
                    equipos internos con experiencia demostrada en muchas disciplinas.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid position-relative mt-5 ">
    <div class="container mt-5 pt-5">
        <div class="row">
            <div class="col s12 l6">
                <img src="{% static 'images/soluciones/circulos.gif' %}" alt="" class="responsive-img">
            </div>
            <div class="col s12 l6">
                <h2 class="text-blue">EXPERIENCIA INTERNA</h2>
                <p class="gold-hr"></p>

                <div class="row">
                    <div class="col s12 m5">
                        <ul class="browser-default soluciones-list">
                            <li>Creatividad</li>
                            <li>Desarrollo</li>
                            <li>Contenido</li>
                            <li>Social</li>
                            <li>Marketing</li>
                            <li>Inbound</li>
                            <li>Estrategia</li>
                        </ul>
                    </div>

                    <div class="col s12 m6">
                        <ul class="browser-default soluciones-list">
                            <li>Generación de Demanda</li>
                            <li>Relación con Influencers</li>
                            <li>Client Success</li>
                            <li>CRM y Marketing Optimization</li>
                            <li>Producción de Videos</li>
                            <li>Business Inteligence</li>
                            <li>Mucho más</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

<div class="container pt-5 mt-5">
    <div class="row">
        <div class="col s12 l4 mt-5 pt-3">
            <a href="{{ programas_estrategicos_url }}">
                <div class="soluciones-square bg-light-grey">
                    <img src="{% static 'images/soluciones/icono-programas-estrategicos.png' %}" alt=""
                         class="soluciones-square-icon"/>
                    <h3 class="font-250 mt-2 text-grey">Programas Estratégicos</h3>
                    <p class="text-justify text-grey">
                        Un socio totalmente integrado, listo para lanzar y monitorear estrategias creativas, desde
                        Inbound Marketing hasta Marketing Basado en Cuentas, habilitación de ventas y programas de
                        atención y servicio post-venta.
                    </p>
                    <p class="font-200 font-weight-bold text-blue m-0 text-right">Conoce más</p>
                </div>
            </a>
        </div>

        <div class="col s12 l4 mt-5 pt-3">
            <a href="{{ soporte_tactico_url }}">
                <div class="soluciones-square bg-light-grey">
                    <img src="{% static 'images/soluciones/icono-apoyo-tactico.png' %}" alt=""
                         class="soluciones-square-icon"/>
                    <h3 class="font-250 mt-2 text-grey">Soporte Táctico</h3>
                    <p class="text-justify text-grey">
                        Un equipo de expertos listo para implementar iniciativas específicas bajo demanda, como
                        marketing +
                        operaciones de ventas, integraciones de CRM, soporte creativo, desarrollo web, marketing
                        conversacional y creación de contenido.
                    </p>
                    <p class="font-200 font-weight-bold text-blue m-0 text-right">Conoce más</p>
                </div>
            </a>
        </div>

        <div class="col s12 l4 mt-5 pt-3">
            <a href="{{ proyectos_url }}">
                <div class="soluciones-square bg-light-grey">
                    <img src="{% static 'images/soluciones/icono-projectos.png' %}" alt=""
                         class="soluciones-square-icon"/>
                    <h3 class="font-250 mt-2 text-grey">Proyectos</h3>
                    <p class="text-justify text-grey">
                        Un entregable de alcance fijo, claramente definido, ya sea una auditoría o análisis de terceros,
                        un
                        proyecto de video, diseño de sitio web, implementación de chatbot, migración de datos o una
                        aplicación web / móvil.
                    </p>
                    <p class="font-200 font-weight-bold text-blue m-0 text-right">Conoce más</p>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="container my-5 pt-5 position-relative">
    <div class="row">
        <div class="col-12">
            <p class="soluciones-necesitas-title text-center">
                <span class="font-weight-bold font-barlow">¿Necesitas ayuda</span> para resolverlo?</p>
            <p class="font-150 text-center px-5">
                Hablemos de tus desafíos, objetivos y plazos. Juntos determinaremos los servicios adecuados para tu
                empresa.
            </p>
            <p class="text-center"><a class="btn-lg btn-blue mt-5" href="{{ contact_url }}">Conoce más</a></p>

        </div>
    </div>
    <img src="{% static 'images/bg-splash-lines.png' %}" class="soluciones-right-splash-lines-2"/>

</div>
{% endblock %}


{% block js_extra %}

{% endblock %}