{% extends "base.html" %}

{% load static %}

{% block head_title %} {% endblock %}

{% block content %}

{% url 'inbound' as inbound_url %}
{% url 'contact' as contact_url %}

{% url 'events' as events_url %}
{% url 'experts' as experts_url %}
{% url 'audio_visual' as audio_visual_url %}
{% url 'inbound' as inbound_url %}


<div class="container-fluid">
    <div class="container">
        <div class="row">
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col s12">
            <h2 class="soluciones-subpage-subtitle">Soluciones /</h2>
            <h1 class="soluciones-subpage-title">Programas Estratégicos</h1>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col s12 m3">
            <p class="text-blue text-barlow text-right font-150 mt-0 mb-1 text-uppercase">CARACTERÍSTICAS</p>
            <ul class="tabs soluciones-tabs-ul" style="height:unset">
                <li class="tab col s12 soluciones-tabs-ul-tabs">
                    <a class="soluciones-tabs-ul-a" href="#test1">ENFOCADA EN EL CRECIMIENTO</a>
                </li>
                <li class="tab col s12 soluciones-tabs-ul-tabs">
                    <a class="soluciones-tabs-ul-a" href="#test2">RESPONSABLES DE KPI’S</a>
                </li>
                <li class="tab col s12 soluciones-tabs-ul-tabs">
                    <a class="soluciones-tabs-ul-a" href="#test3">SOCIOS DE NEGOCIO</a>
                </li>
                <li class="tab col s12 soluciones-tabs-ul-tabs">
                    <a class="soluciones-tabs-ul-a" href="#test4">MENTALIDAD PROACTIVA</a>
                </li>
                <li class="tab col s12 soluciones-tabs-ul-tabs">
                    <a class="soluciones-tabs-ul-a" href="#test5">ALINEACIÓN DE ESFUERZOS</a>
                </li>

            </ul>
        </div>
        <div class="col s12 m9">
            <div id="test1" class="col s12">
                <div class="soluciones-tab-square">
                    <p>Correcto para ti si:</p>
                    <ul class="browser-default">
                        <li>
                            <span class="font-weight-bold">
                                Buscas un equipo para profundizar, comprender tu negocio y tu panorama,
                                y ​​concentrarte de manera proactiva en las vías de crecimiento.
                            </span>
                        </li>
                        <li>
                            <span class="font-weight-bold">
                                Tienes metas y un presupuesto
                            </span>
                            , y quiere que un equipo diseñe y ejecute un plan que logre objetivos de alto nivel.

                        </li>
                        <li>
                            <span class="font-weight-bold">
                                Quieres un equipo para diseñar e implementar tecnología escalable</span>
                            que respalde el crecimiento de tu negocio.

                        </li>
                        <li>
                            <span class="font-weight-bold">
                                Quieres un equipo que sea responsable</span>
                            de las iniciativas estratégicas así como su respectiva ejecución.

                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid position-relative pb-5 mb-5">
    <div class="container">
        <div class="row">
            <div class="col s12 m4">
                <h2>Detalles</h2>
                <p class="text-justify">
                    Quieres más clientes o clientes potenciales mejor calificados. Deseas respaldar tus esfuerzos de
                    ventas y cerrar más acuerdos.
                </p>
                <p class="text-justify">
                    Deseas aumentar la retención de clientes y el valor de vida de cada
                    uno de ellos, mientras convierte a tus clientes satisfechos en promotores de la marca.
                </p>
                <p class="text-justify">
                    Quizás solo
                    quieras hacer lo que sea que impulse el crecimiento de tu negocio. Independientemente de los
                    desafíos a los que te enfrentes, estamos listos para ayudar.
                </p>
            </div>
            <div class="col s12 m8 mt-md-5 pt-md-5">
                <div class="card py-5 px-4">
                    <h2 class="m-0 font-250">PRINCIPALES TIPOS DE SERVICIOS</h2>

                    <div class="row mt-5">

                        <div class="col s12 m6 p-4">
                            <a href="{{ inbound_url }}">
                                <div class="row soluciones-squares">
                                    <div class="col s4 soluciones-icon">
                                        <img src="{% static 'images/inbound/test-logo.png' %}" class="responsive-img"/>
                                    </div>
                                    <div class="col s8 center">
                                        <p class="m-0">INBOUND MARKETING</p>
                                        <p class="text-blue-light">Aprende más ></p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col s12 m6 p-4">
                            <a href="{{ inbound_url }}">
                                <div class="row soluciones-squares">
                                    <div class="col s4 soluciones-icon">
                                        <img src="{% static 'images/inbound/test-logo.png' %}" class="responsive-img"/>
                                    </div>
                                    <div class="col s8 center">
                                        <p class="m-0">Marketing Conversacional</p>
                                        <p class="text-blue-light">Aprende más ></p>
                                    </div>
                                </div>
                            </a>
                        </div>

                    </div>

                    <div class="row mt-2">

                        <div class="col s12 m6 p-4">
                            <a href="{{ inbound_url }}">
                                <div class="row soluciones-squares">
                                    <div class="col s4 soluciones-icon">
                                        <img src="{% static 'images/inbound/test-logo.png' %}" class="responsive-img"/>
                                    </div>
                                    <div class="col s8 center">
                                        <p class="m-0">Prospección Digital</p>
                                        <p class="text-blue-light">Aprende más ></p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col s12 m6 p-4">
                            <a href="{{ inbound_url }}">
                                <div class="row soluciones-squares">
                                    <div class="col s4 soluciones-icon">
                                        <img src="{% static 'images/inbound/test-logo.png' %}" class="responsive-img"/>
                                    </div>
                                    <div class="col s8 center">
                                        <p class="m-0">Lead Management</p>
                                        <p class="text-blue-light">Aprende más ></p>
                                    </div>
                                </div>
                            </a>
                        </div>

                    </div>

                    <div class="row mt-2">

                        <div class="col s12 m6 p-4">
                            <a href="{{ inbound_url }}">
                                <div class="row soluciones-squares">
                                    <div class="col s4 soluciones-icon">
                                        <img src="{% static 'images/inbound/test-logo.png' %}" class="responsive-img"/>
                                    </div>
                                    <div class="col s8 center">
                                        <p class="m-0">Customer Success</p>
                                        <p class="text-blue-light">Aprende más ></p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col s12 m6 p-4">
                            <a href="{{ inbound_url }}">
                                <div class="row soluciones-squares">
                                    <div class="col s4 soluciones-icon">
                                        <img src="{% static 'images/inbound/test-logo.png' %}" class="responsive-img"/>
                                    </div>
                                    <div class="col s8 center">
                                        <p class="m-0">Campañas SEM</p>
                                        <p class="text-blue-light">Aprende más ></p>
                                    </div>
                                </div>
                            </a>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>

    <img src="{% static 'images/bg-blue-left-3.png' %}" alt="" class="soluciones-bg-blue-left">
    <img src="{% static 'images/bg-splash-lines-2.png' %}" alt="" class="soluciones-splash-lines-1">

</div>

<div class="row bg-light-grey">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h2 class="text-center">Nuestro Blog</h2>
                <p class="gold-hr-center"></p>
            </div>
        </div>

        <div class="row">
            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image">
                        <img src="https://materializecss.com/images/sample-1.jpg">
                        <a class="btn-floating halfway-fab waves-effect waves-light bg-gold"><i
                                class="material-icons">add</i></a>
                    </div>
                    <div class="card-content text-center">
                        <p class="home-blog-title">COMO APARECER EN GOOGLE PARA AUMENTAR TU POSICIONAMIENTO WEB?</p>
                        <p class="gold-hr-center my-3"></p>
                        <p class="home-blog-desc">I am a very simple card. I am good at containing small bits of
                            information. I am
                            convenient because I require little markup to use effectively.</p>
                    </div>
                </div>

            </div>
            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image">
                        <img src="https://materializecss.com/images/sample-1.jpg">
                        <a class="btn-floating halfway-fab waves-effect waves-light bg-gold"><i
                                class="material-icons">add</i></a>
                    </div>
                    <div class="card-content text-center">
                        <p class="home-blog-title">COMO APARECER EN GOOGLE PARA AUMENTAR TU POSICIONAMIENTO WEB?</p>
                        <p class="gold-hr-center my-3"></p>
                        <p class="home-blog-desc">I am a very simple card. I am good at containing small bits of
                            information. I am
                            convenient because I require little markup to use effectively.</p>
                    </div>
                </div>

            </div>

            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image">
                        <img src="https://materializecss.com/images/sample-1.jpg">
                        <a class="btn-floating halfway-fab waves-effect waves-light bg-gold"><i
                                class="material-icons">add</i></a>
                    </div>
                    <div class="card-content text-center">
                        <p class="home-blog-title">COMO APARECER EN GOOGLE PARA AUMENTAR TU POSICIONAMIENTO WEB?</p>
                        <p class="gold-hr-center my-3"></p>
                        <p class="home-blog-desc">I am a very simple card. I am good at containing small bits of
                            information. I am
                            convenient because I require little markup to use effectively.</p>
                    </div>
                </div>

            </div>

        </div>

        <div class="row my-5">
            <div class="col s12 m6 offset-m3">
                <a class="btn btn-gold w-100" href="#">VER MÁS</a>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid position-relative">
    <div class="container my-5">
        <div class="row">
            <div class="col s6 offset-s3 m4 offset-m4">
                <img src="{% static 'images/home/home-gold-plane.png' %}" class="responsive-img"/>
            </div>
            <div class="col s12">
                <p class="home-contactanos-title">CONTÁCTANOS</p>
                <p class="text-center text-uppercase text-barlow font-weight-bold font-150">
                    Da Click y dejanos tus comentarios</p>
            </div>
        </div>
        <div class="row my-2">
            <div class="col s12 m6 offset-m3">
                <a class="btn btn-gold w-100" href="{{ contact_url }}">CONTÁCTANOS</a>
            </div>
        </div>
    </div>
    <img src="{% static 'images/bg-splash-lines-2.png' %}" class="event-list-splash-lines-2 d-none d-md-block"/>
    <img src="{% static 'images/bg-splash-lines.png' %}" class="audio-visual-splash-lines-top d-none d-md-block"/>

</div>


{% endblock %}


{% block js_extra %}

{% endblock %}