{% extends "base.html" %}

{% load static %}

{% block head_title %} {% endblock %}

{% block content %}

{% url 'inbound' as inbound_url %}
{% url 'contact' as contact_url %}

{% url 'events' as events_url %}
{% url 'experts' as experts_url %}
{% url 'audio_visual' as audio_visual_url %}
{% url 'inbound' as inbound_url %}

{% url 'soporte_tactico' as soporte_tactico_url %}
{% url 'programas_estrategicos' as programas_estrategicos_url %}
{% url 'proyectos' as proyectos_url %}
{% url 'blog:home' as blog_url %}

<div class="container mt-5 mt-md-1">
    <div class="row">
        <div class="col s12">
            <h2 class="soluciones-subpage-subtitle">Soluciones /</h2>
            <h1 class="soluciones-subpage-title">Agencia</h1>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col s12 m4">
            <p class="text-blue text-barlow text-right font-200 mt-0 mb-1 text-uppercase font-weight-bold">
                CARACTERÍSTICAS
            </p>
            <p class="soluciones-tabs-ul-a mt-3">ENFOCADA EN EL CRECIMIENTO</p>
            <p class="soluciones-tabs-ul-a">RESPONSABLES DE KPI’S</p>
            <p class="soluciones-tabs-ul-a">SOCIOS DE NEGOCIO</p>
            <p class="soluciones-tabs-ul-a">MENTALIDAD PROACTIVA</p>
            <p class="soluciones-tabs-ul-a">ALINEACIÓN DE ESFUERZOS</p>
        </div>

        <div class="col s12 m8">
            <div class="soluciones-tab-square">
                <p>Correcto para ti si:</p>
                <ul class="browser-default">
                    <li>
                            <span class="font-weight-bold">
                                Buscas un equipo para profundizar, comprender tu negocio y tu panorama,
                                y ​​concentrarte de manera proactiva en las vías de crecimiento.
                            </span>
                    </li>
                    <li>
                            <span class="font-weight-bold">
                                Tienes metas y un presupuesto
                            </span>
                        , y quiere que un equipo diseñe y ejecute un plan que logre objetivos de alto nivel.

                    </li>
                    <li>
                            <span class="font-weight-bold">
                                Quieres un equipo para diseñar e implementar tecnología escalable</span>
                        que respalde el crecimiento de tu negocio.

                    </li>
                    <li>
                            <span class="font-weight-bold">
                                Quieres un equipo que sea responsable</span>
                        de las iniciativas estratégicas así como su respectiva ejecución.

                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container my-5">
    <div class="row">
        <div class="col s12 m7">
            <h2>Detalles</h2>
            <p class="soluciones-detalles-desc">
                Quieres más clientes o clientes potenciales mejor calificados. Deseas respaldar tus esfuerzos de
                ventas y cerrar más acuerdos.
            </p>
            <p class="soluciones-detalles-desc">
                Deseas aumentar la retención de clientes y el valor de vida de cada
                uno de ellos, mientras convierte a tus clientes satisfechos en promotores de la marca.
            </p>
            <p class="soluciones-detalles-desc">
                Quizás solo
                quieras hacer lo que sea que impulse el crecimiento de tu negocio. Independientemente de los
                desafíos a los que te enfrentes, estamos listos para ayudar.
            </p>
            <h2>Principales tipos de servicios</h2>

            <div class="row mt-5">
                <div class="col s12 m4">
                    <div class="row">
                        <div class="col s4 p-md-0 mt-3 mt-md-0">
                            <img src="{% static 'images/soluciones/icons/blue/inbound.png' %}"
                                 class="responsive-img"/>
                        </div>
                        <div class="col s8">
                            <p class="soluciones-servicios-title">INBOUND MARKETING</p>
                        </div>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="row">
                        <div class="col s4 p-md-0 mt-3 mt-md-0">
                            <img src="{% static 'images/soluciones/icons/blue/marketing.png' %}"
                                 class="responsive-img"/>
                        </div>
                        <div class="col s8">
                            <p class="soluciones-servicios-title">MARKETING CONVERSACIONAL</p>
                        </div>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="row">
                        <div class="col s4 p-md-0 mt-3 mt-md-0">
                            <img src="{% static 'images/soluciones/icons/blue/prospeccion.png' %}"
                                 class="responsive-img"/>
                        </div>
                        <div class="col s8">
                            <p class="soluciones-servicios-title">PROSPECCIÓN DIGITAL</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-md-5">
                <div class="col s12 m4">
                    <div class="row">
                        <div class="col s4 p-md-0 mt-3 mt-md-0">
                            <img src="{% static 'images/soluciones/icons/blue/leads.png' %}"
                                 class="responsive-img"/>
                        </div>
                        <div class="col s8">
                            <p class="soluciones-servicios-title">LEAD MANAGEMENT</p>
                        </div>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="row">
                        <div class="col s4 p-md-0 mt-3 mt-md-0">
                            <img src="{% static 'images/soluciones/icons/blue/customer.png' %}"
                                 class="responsive-img"/>
                        </div>
                        <div class="col s8">
                            <p class="soluciones-servicios-title">CUSTOMER SUCCESS</p>
                        </div>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="row">
                        <div class="col s4 p-md-0 mt-3 mt-md-0">
                            <img src="{% static 'images/soluciones/icons/blue/sem.png' %}"
                                 class="responsive-img"/>
                        </div>
                        <div class="col s8">
                            <p class="soluciones-servicios-title">CAMPAÑAS SEM</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col s12 m5">
            <img src="{% static 'images/soluciones/estrategia.png' %}" class="responsive-img mt-5"/>
        </div>
    </div>
</div>

<div class="container pt-5">
    <div class="row">
        <div class="col s12 m4 mt-5 pt-3">
            <a href="{{ contact_url }}">
                <div class="otras-soluciones-square">
                    <img src="{% static 'images/soluciones/icono-programas-estrategicos.png' %}" alt=""
                         class="soluciones-square-icon"/>
                    <h3 class="font-150 mt-2">¿Agencia suenan como algo para ti?</h3>
                    <p class="font-150 font-barlow">
                        Inicia la conversación
                    </p>
                    <p><a href="{{ contact_url }}" class="btn btn-blue font-150">
                        Agenda una CITA
                    </a></p>
                </div>
            </a>
        </div>

        <div class="col s12 m4 mt-5 pt-3">
            <a href="{{ soporte_tactico_url }}">
                <div class="otras-soluciones-square">
                    <img src="{% static 'images/soluciones/icono-apoyo-tactico.png' %}" alt=""
                         class="soluciones-square-icon"/>
                    <p class="font-150 font-barlow">
                        ¿Buscas algo más flexible? Revisa esto?
                    </p>
                    <p><a href=" {{ soporte_tactico_url }}" class="btn btn-outline-gold font-150">
                        Consultoría
                    </a></p>
                </div>
            </a>
        </div>

        <div class="col s12 m4 mt-5 pt-3">
            <a href="{{ proyectos_url }}">
                <div class="otras-soluciones-square">
                    <img src="{% static 'images/soluciones/icono-projectos.png' %}" alt=""
                         class="soluciones-square-icon"/>
                    <p class="font-150 font-barlow">
                        ¿Quieres una relación más centrada en entregables?
                    </p>
                    <p><a href="{{ proyectos_url }}" class="btn btn-outline-gold font-150">
                        Academia
                    </a></p>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="row bg-light-grey mt-5">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h2 class="text-center">Nuestro Blog</h2>
                <p class="gold-hr-center"></p>
            </div>
        </div>

        <div class="row">
            {% for object in blog_posts %}

            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image">
                        {% if object.image %}
                        <a href="{{ object.get_absolute_url}}">
                            <img src="{{ object.image.url }}" class="responsive-img">
                        </a>
                        {% endif %}
                        <a href="{{ object.get_absolute_url}}"
                           class="btn-floating halfway-fab waves-effect waves-light bg-gold"><i
                                class="material-icons">add</i></a>
                    </div>
                    <div class="card-content text-center bg-white">
                        <a href="{{ object.get_absolute_url}}">
                            <h2 class="home-blog-list-post-title">{{ object.title }}</h2>
                        </a>
                        <p class="gold-hr-center my-3"></p>
                        <p class="home-blog-desc">{{ object.meta_description|truncatechars:155 }}...</p>
                        <p class="text-blue pt-2 m-0 font-weight-bold">
                            {{ object.category.title }} | Lectura de {{ object.reading_time }} min
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
        <div class="row my-5">
            <div class="col s12 m6 offset-m3">
                <a class="btn btn-gold w-100" href="{{ blog_url }}">VER MÁS</a>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid position-relative">
    <div class="container my-5">
        <div class="row">
            <div class="col s6 offset-s3 m4 offset-m4">
                <img src="{% static 'images/home/home-gold-plane.png' %}" class="responsive-img"/>
            </div>
            <div class="col s12">
                <p class="home-contactanos-title">CONTÁCTANOS</p>
                <p class="text-center text-uppercase text-barlow font-weight-bold font-150">
                    Da Click y dejanos tus comentarios</p>
            </div>
        </div>
        <div class="row my-2">
            <div class="col s12 m6 offset-m3">
                <a class="btn btn-gold w-100" href="{{ contact_url }}">CONTÁCTANOS</a>
            </div>
        </div>
    </div>
    <img src="{% static 'images/bg-splash-lines-2.png' %}" class="event-list-splash-lines-2 d-none d-md-block"/>
    <img src="{% static 'images/bg-splash-lines.png' %}" class="audio-visual-splash-lines-top d-none d-md-block"/>

</div>


{% endblock %}


{% block js_extra %}

{% endblock %}