{% extends "base.html" %}

{% load static %}

{% block head_title %} {% endblock %}

{% block content %}
<div class="container">
    <div class="row center">
        <div class="col s12 m10 offset-m1">
            <h1 class="">
                Recursos de Marketing Digital
            </h1>
            <div class="p font-200">Este es un gran punto de partida si eres nuevo en el marketing digital.
            </div>
            <hr>
            <p class="my-2">Recursos</p>
            {% for obj in data %}
            {% if forloop.counter == 5 %}
            <br>
            {% endif %}

            <p class="d-inline">
                <a href="#{{ obj.id }}" class="mx-3">
                    {{ obj.title }}
                </a>
                {% if forloop.counter != 4 and forloop.last == False %} | {% endif %}
            </p>

            {% endfor %}
        </div>
    </div>
</div>
{% for obj in data %}

<div class="row bg-blue mt-5" id="{{ obj.id }}">
    <div class="container">
        <div class="row mt-0">
            <div class="col s12">
                <h2 class="center  text-white mt-0 mb-2 ">Recursos de {{ obj.title }}</h2>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row mt-5 d-flex flex-wrap">

        {% for resource in obj.resources %}
        <div class="col s12 m6 px-4 py-3">
            <div class="row p-4 card h-100">
                <div class="col s12 m4">
                    <img src="{{ resource.image }}" class="responsive-img"/>
                </div>
                <div class="col s12 m7">
                    <h3 class="m-0 recursos-title">
                        {{ resource.title }}
                    </h3>
                    <p class="recursos-desc">
                        {{ resource.desc }}
                    </p>
                    <p class="">
                        <a class="btn btn-blue" href="{{ resource.url }}">Ver Recurso</a>
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>


{% endfor %}


{% endblock %}

<!--RECURSOS DE MARKETING-->
<div class="row">
    <div class="col s12">
        <h2 class="center bg-blue text-white py-2">RECURSOS DE EMAIL MARKETING</h2>
    </div>
</div>


<div class="container">
    <div class="row mt-5 d-flex">
        <div class="col s12 m6 card m-3">
            <div class="row p-4 m-3">
                <div class="col s12 m4">
                    <img src="{% static 'images/recursos/icons/Email-Campaign-Creation.png' %}" class="responsive-img"/>
                </div>
                <div class="col s12 m7">
                    <h3 class="m-0 recursos-title">
                        Guía Email Marketing
                    </h3>
                    <p class="recursos-desc">
                        Con este recurso puedes comenzar fácilmente a crear estrategias de email marketing
                        enfocadas en la venta.
                    </p>
                    <p class="">
                        <a class="btn btn-blue" href="#">Ver Recurso</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="col s12 m6 card m-3">
            <div class="row p-4 m-3">
                <div class="col s12 m4">
                    <img src="{% static 'images/recursos/placeholder.png' %}" class="responsive-img"/>
                </div>
                <div class="col s12 m7">
                    <h3 class="m-0 recursos-title">
                        Creación de Campañas de Emailing
                    </h3>
                    <p>
                        Asegúrate de que tus campañas de emailing se envíen, reciban clics, proporcionen valor y
                        vendan.
                    </p>
                    <p class="">
                        <a class="btn btn-blue" href="#">Ver Recurso</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
